@page "/preempt"
@using RestSharp
@inject NavigationManager _navigationManager



<h1>PreEmpt</h1>
@if (Preferences.Default.Get("login", false) == false)
{
    <h3 style="color:red">Login expired</h3>
    <button class="btn btn-primary" onclick="@GoLogin">Login</button>
}else{
    <EditForm id="preemptform" class="form-group container" Model="@preemptModel" OnValidSubmit="Add">
        <div class="row">
            <label for="part">Part Number</label>
            <InputText id="part" class="form-control" @bind-Value="preemptModel.part" required />
        </div>
        
        <div class="row">
            <label for="qty">Quantity</label>
            <InputText id="qty" type="number" class="form-control col" @bind-Value="preemptModel.qty" required />
            <div class="col">
                @if (spiner)
                {
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
            </div>
            <button class="btn btn-primary form-control col" type="submit">Add to list</button>
        </div>
    </EditForm>
    <p style="color:red">@preemptMessage</p>

    <br />

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Part Number</th>
                <th>Quantity</th>
                <th> </th>
            </tr>
                
        </thead>
        <tbody>
            @foreach(var item in PartList)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>
                        <a class="btn btn-sm" onclick="@(()=>Delete(item.Key))">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <EditForm class="form-group container" Model="@jobModel" OnValidSubmit="Submit">
        <div class="row">
            <label for="job">Job Number</label>
            <InputText id="job" class="form-control" @bind-Value="jobModel.job" required />
            <br>
            
        </div>
        <br />
        <div class="row">
            <button class="btn btn-primary form-control">
                Submit
            </button>
        </div>
        
        
    </EditForm>
    @if (bar)
    {
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
        </div>
    }
    <p class="text-center" style="color:red">@submitMessage</p>
    
    

}

@code {
    public bool bar { get; set; } = false;

    public bool spiner { get; set; } = false;

    public Dictionary<string, string> PartList = new();

    public string Cookie = Preferences.Default.Get("cookie", "");

    public string ResultType { get; set; }

    private void GoLogin()
    {
        _navigationManager.NavigateTo("");
    }

    public class JobModel
    {
        public string job{ get; set; }
    }

    public class PreemptModel
    {
        public string part{ get; set; }
        public string qty { get; set; }
    }

    public string preemptMessage { get; set; } = " ";

    public string submitMessage { get; set; } = " ";

    public class Result
    {
        public string number { get; set; }
        public string stock { get; set; }
        public string name { get; set; }
        public string price { get; set; }

    }

    public Result result = new();

    public JobModel jobModel = new();

    public PreemptModel preemptModel = new()
        {
            qty = "1"
    };

    public void Delete(string key)
    {
        PartList.Remove(key);
        StateHasChanged();
    }

    private async Task Add()
    {

        preemptMessage = " ";
        submitMessage = " ";
        spiner = true;
        //Validate that qty cannot be 0
        if (preemptModel.qty == "0")
        {
            preemptMessage = $"* Invalid quantity";
            await Task.CompletedTask;
            spiner = false;
            preemptModel = new()
                {
                    qty = "1"
                };
            return;
        }
        //Validate if part already added
        if (PartList.ContainsKey(preemptModel.part))
        {
            preemptMessage = $"* {preemptModel.part} already exists";
            await Task.CompletedTask;
            spiner = false;
            preemptModel = new()
                {
                    qty = "1"
                };
            return;
        }

        var client = new RestClient("https://partners.gorenje.com/sagcc/se_pregled_alternativ_nov.aspx");

        var request = new RestRequest("https://partners.gorenje.com/sagcc/se_pregled_alternativ_nov.aspx", Method.Post);
        request.AddHeader("Cookie", Cookie);
        request.AddHeader("sec-ch-ua", "\"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"108\", \"Google Chrome\";v=\"108\"");
        request.AddHeader("sec-ch-ua-mobile", "?0");
        request.AddHeader("sec-ch-ua-platform", "\"Windows\"");
        request.AddHeader("Upgrade-Insecure-Requests", "1");
        request.AddHeader("Content-Type", "application/x-www-form-urlencoded");
        request.AddHeader("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9");
        request.AddHeader("host", "partners.gorenje.com");
        request.AddParameter("DXCss", "0_2550,1_68,0_2555,1_210,0_2443,1_209,0_2448,0_2455,0_2459");
        request.AddParameter("DXScript", "1_11,1_12,1_252,1_23,1_64,1_13,1_14,1_15,1_35,1_183,1_184,1_21,1_22,1_190,1_17,1_186,1_193,1_41,1_19,1_213,1_224,1_225,1_211,1_227,1_236,1_238,1_239,1_230,1_234,1_240,1_39");
        request.AddParameter("__EVENTARGUMENT", "");
        request.AddParameter("__EVENTTARGET", "ctl00$ContentPlaceHolder1$tbMat");
        request.AddParameter("__LASTFOCUS", "");
        request.AddParameter("__VIEWSTATE", "/wEPDwUJODAyNDE4MzY0D2QWAmYPZBYCAgMPZBYIAgUPPCsACQIADxYCHg5fIVVzZVZpZXdTdGF0ZWdkBg9kEBYSZgIBAgICAwIEAgUCBgIHAggCCQIKAgsCDAINAg4CDwIQAhEWEjwrAAsCABYIHgRUZXh0BQNTQUceBE5hbWUFA1NBRx4IRXhwYW5kZWRnHg5SdW50aW1lQ3JlYXRlZGcBD2QQFgNmAgECAhYDFCsAAhYGHwEFEFVzZXI6IFJvc2hhbiBMaXUeFUNsaWVudEVuYWJsZWRJbnRlcm5hbGgfBGdkFCsAAhYGHgtOYXZpZ2F0ZVVybAUMc3JlZGluYS5hc3B4HwEFBEhvbWUfBGdkFCsAAhYGHwYFC2xvZ291dC5hc3B4HwEFB0xvZyBvZmYfBGdkZDwrAAsCABYIHwEFC0NhbGwgQ2VudGVyHwIFATIfA2cfBGcBD2QQFgNmAgECAhYDFCsAAhYGHwYFFGNhbGxjZW50ZXJfdm5vcy5hc3B4HwEFC0VudGVyIGNsYWltHwRnZBQrAAIWBh8GBRhjYWxsY2VudGVyX3ByZWdsZWQxLmFzcHgfAQUQUmV2aWV3IG9mIGNsYWltcx8EZ2QUKwACFgYfBgUsc2VfcG90cmRpX3Jla2xhbWFjaWplLmFzcHg/ZGVsaXZlcnlpbnN0YWxsPTEfAQUeUmVxdWVzdCBmb3IgZGVsaXZlcnkgLyBpbnN0YWxsHwRnZGQ8KwALAgAWCB8BBQ5TZXJ2aWNlIG9yZGVycx8CBQEzHwNnHwRnAQ9kEBYFZgIBAgICAwIEFgUUKwACFgYfBgUTcG90bmlfcHJlZ2xlZDEuYXNweB8BBRxSZXZpZXcgY2xpZW50cyBpbiB0aGUgYmFza2V0HwRnZBQrAAIWBh8GBRlzZV9wcmdfemFrbGp1Y2V2YW5qZS5hc3B4HwEFIENvbXBsZXRpbmcgb2YgYWdyZWVkIHdvcmsgb3JkZXJzHwRnZBQrAAIWBh8GBSBzZV9kbmV2bm9femFrbGp1Y2VuaV9uYWxvZ2kuYXNweB8BBS1EYWlseSByZXR1cm4gZGVsaXZlcnkgLyBDbG9zZWQgd29ya2luZyBvcmRlcnMfBGdkFCsAAhYGHwYFHHNlX25lcmF6cG9yZWplbmlfbmFsb2dpLmFzcHgfAQUZV29yayBvcmRlcnMgb3V0IG9mIGJhc2tldB8EZ2QUKwACFgYfBgUTcG90bmlfa3JlaXJhajEuYXNweB8BBRtNYW51YWwgYWxsb2NhdGlvbiBvZiBvcmRlcnMfBGdkZDwrAAsCABYIHwEFBVNhbGVzHwIFATkfA2gfBGcBD2QQFgNmAgECAhYDFCsAAhYGHwYFFXNlX3Byb2RhamFfcmRfYXUuYXNweB8BBRBTcGFyZSBwYXJ0cyBzYWxlHwRnZBQrAAIWBh8GBRZzZV9wcm9kYWphX3JkX3ByZy5hc3B4HwEFDVNhbGVzIHByZXZpZXcfBGdkFCsAAhYGHwYFGnNlX2JsYWdham5hX3pha2xqdWNlay5hc3B4HwEFFkNvbXBsZXRpb24gb2YgdGhlIHNhbGUfBGdkZDwrAAsCABYIHwEFCUNhc2ggZGVzax8CBQIxMx8DaB8EZwEPZBAWBmYCAQICAgMCBAIFFgYUKwACFgYfBgUXc2VfYmxhZ2FqbmFfc3RhbmplLmFzcHgfAQUNU3RhdGUgb2YgY2FzaB8EZ2QUKwACFgYfBgUXc2VfYmxhZ2FqbmFfa25qaWdhLmFzcHgfAQUJQ2FzaCBib29rHwRnZBQrAAIWBh8GBRlzZV9ibGFnYWpuYV9wcmVqZW1raS5hc3B4HwEFC0Nhc2ggaW5jb21lHwRnZBQrAAIWBh8GBRhzZV9ibGFnYWpuYV9pemRhdGtpLmFzcHgfAQURQ2FzaCBkaXNidXJzZW1lbnQfBGdkFCsAAhYGHwYFG3NlX2JsYWdham5hX2l6ZHByZV9wcmcuYXNweB8BBRpSZXZpZXcgb2YgRXhwZW5jZXMvSW5jb21lcx8EZ2QUKwACFgYfBgUSc2VfcmVwb3J0X29zcy5hc3B4HwEFEERpc3BsYXkgb2YgT1NTJ3MfBGdkZDwrAAsCABYIHwEFC1N1cGVydmlzaW9uHwIFAjE0HwNoHwRnAQ9kEBYGZgIBAgICAwIEAgUWBhQrAAIWBh8GBRZzZV9uYWR6b3JfcHJvZGFqYS5hc3B4HwEFDVNhbGVzIHByZXZpZXcfBGdkFCsAAhYGHwYFFXNlX25hZHpvcl9pemRwcmUuYXNweB8BBRpSZXZpZXcgb2YgRXhwZW5jZXMvSW5jb21lcx8EZ2QUKwACFgYfBgUVc2VfbmFkem9yX2tuamlnYS5hc3B4HwEFCUNhc2ggYm9vax8EZ2QUKwACFgYfBgUVc2VfbmFkem9yX3N0YW5qZS5hc3B4HwEFDVN0YXRlIG9mIGNhc2gfBGdkFCsAAhYGHwYFF3NlX25hZHpvcl9ibGFnYWpuYS5hc3B4HwEFBlJlcG9ydB8EZ2QUKwACFgYfBgUWc2VfcmVwb3J0X29zcy5hc3B4P249MR8BBRBEaXNwbGF5IG9mIE9TUydzHwRnZGQ8KwALAgAWCB8BBQVTdG9jax8CBQIyMh8DZx8EZwEPZBAWCWYCAQICAgMCBAIFAgYCBwIIFgkUKwACFgYfBgUUemFsb2dhX3NlcnZpc2VyLmFzcHgfAQUSVGVjaG5pY2lhbidzIHN0b2NrHwRnZBQrAAIWBh8GBRdwcmVnbGVkX3phb3N0YW5rb3YuYXNweB8BBRxSZXZpZXcgbWF0ZXJpYWwgcmVzZXJ2YXRpb25zHwRnZBQrAAIWBh8GBRVwcmVnbGVkemFsb2dhbm92LmFzcHgfAQUWUHJldmlldyBvZiBzdG9jayAtIE5FVx8EZ2QUKwACFgYfBgUYc2VfaXpkYWphX21hdGVyaWFsYS5hc3B4HwEFGFJldmlldyBvZiBtYXRlcmlhbCBpc3N1ZR8EZ2QUKwACFgYfBgUZc2VfcHJldnplbV9tYXRlcmlhbGEuYXNweB8BBR5SZXZpZXcgb2YgbWF0ZXJpYWwgdGFraW5nIG92ZXIfBGdkFCsAAhYGHwYFGXNlX2dpYmFuamVfbWF0ZXJpYWxhLmFzcHgfAQUUTWF0ZXJpYWwgZmxvdyByZXZpZXcfBGdkFCsAAhYGHwYFE3BvcHJhdmFfemFsb2dlLmFzcHgfAQUTQ29ycmVjdGlvbiBvZiBTdG9jax8EZ2QUKwACFgYfBgUWc2VfemFsb2dlX3NhZ19zYXAuYXNweB8BBRtTdG9jayBjb21wYXJpc29uICBTQUcgLSBTQVAfBGdkFCsAAhYGHwYFC3phbG9nYS5hc3B4HwEFBVN0b2NrHwRnZGQ8KwALAgAWCB8BBRJSZXR1cm5pbmcgbWF0ZXJpYWwfAgUCMjMfA2gfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRF2cmFjaWxvX3Zub3MuYXNweB8BBQ9SZXR1cm4gbWF0ZXJpYWwfBGdkFCsAAhYGHwYFHnZyYWNpbG9fcHJlZ2xlZF9wb3RyZGl0ZXYuYXNweB8BBRFSZXR1cm5pbmdzIHJldmlldx8EZ2RkPCsACwIAFggfAQUJSW52ZW50b3J5HwIFAjI0HwNnHwRnAQ9kEBYCZgIBFgIUKwACFgYfBgUTaW52ZW50dXJhX3Zub3MuYXNweB8BBQlJbnZlbnRvcnkfBGdkFCsAAhYGHwYFE3ByaW1lcmphdmFfaW52LmFzcHgfAQUYSW52ZW50b3J5IFJldmlldy9Db21wYXJlHwRnZGQ8KwALAgAWCB8BBQZPcmRlcnMfAgUCMjUfA2cfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRRwcmVnbGVkX25hcm9jaWwuYXNweB8BBR5SZXZpZXcgb3JkZXJzLCBtYW51YWwgb3JkZXJpbmcfBGdkFCsAAhYGHwYFD3NlX3ByZXZ6ZW0uYXNweB8BBSFDb25maXJtYXRpb24gb2YgcmVjaWV2ZWQgbWF0ZXJpYWwfBGdkZDwrAAsCABYIHwEFBFNldHMfAgUCMjYfA2cfBGcBD2QQFgZmAgECAgIDAgQCBRYGFCsAAhYGHwYFG3ByZWdsZWRfc2V0X3BsYW5pcmFuamUuYXNweB8BBRpSZXZpZXcgb2Ygc3BhcmUgcGFydHMgc2V0cx8EZ2QUKwACFgYfBgUXc2Vfc2V0aV9zZXJ2aXNlcmppLmFzcHgfAQUcVHJpZ2dlciBwb2ludHMgLSBUZWNobmljaWFucx8EZ2QUKwACFgYfBgUUc2Vfc2V0aV90ZWhuaWthLmFzcHgfAQUiVHJpZ2dlciBwb2ludHMgLSBTZXJ2aWNlIHRlY2huaXF1ZR8EZ2QUKwACFgYfBgUVc2Vfc2V0aV9zZXR0aW5ncy5hc3B4HwEFIVVwZGF0aW5nIG9yZGVycyBzY2hlZHVsZSBzZXR0aW5ncx8EZ2QUKwACFgYfBgUbc2Vfc2V0aV9vYnZlc2NhbmplX21uZy5hc3B4HwEFIkpvYiBvcmRlciBpbXBsZW1lbnRhdGlvbiBpbmZvcm1pbmcfBGdkFCsAAhYGHwYFGHNlX3NlcnZpc2VyX2Nhcl9iaW4uYXNweB8BBRpWZWhpY2xlcyBzdG9yYWdlIGxvY2F0aW9ucx8EZ2RkPCsACwIAFggfAQUXU3RvY2sgVHJhbnNmZXIgUmVjZWlwdHMfAgUCMjcfA2cfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRFtZWRfc2tsX3Zub3MuYXNweB8BBR1DcmVhdGUgU3RvY2sgVHJhbnNmZXIgUmVjZWlwdB8EZ2QUKwACFgYfBgUUbWVkX3NrbF9wcmVnbGVkLmFzcHgfAQUeU3RvY2sgVHJhbnNmZXIgcmVjZWlwdHMgcmV2aWV3HwRnZGQ8KwALAgAWCB8BBRZTcGFyZSBwYXJ0cyBwcmljZSBsaXN0HwIFAjI4HwNnHwRnAQ9kEBYDZgIBAgIWAxQrAAIWBh8GBQ1zZV9jZW5pay5hc3B4HwEFFlNwYXJlIHBhcnRzIHByaWNlIGxpc3QfBGdkFCsAAhYGHwYFGnNlX3ByZWdsZWRfYWx0ZXJuYXRpdi5hc3B4HwEFGE92ZXJ2aWV3IG9mIGFsdGVybmF0aXZlcx8EZ2QUKwACFggfBgUec2VfcHJlZ2xlZF9hbHRlcm5hdGl2X25vdi5hc3B4HwEFIE92ZXJ2aWV3IG9mIGFsdGVybmF0aXZlcyAtIFN0b2NrHwRnHghTZWxlY3RlZGdkZDwrAAsCABYIHwEFDkFkbWluaXN0cmF0aW9uHwIFAjMyHwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFFGNoYW5nZV9wYXNzd29yZC5hc3B4HwEFD0NoYW5nZSBwYXNzd29yZB8EZ2RkPCsACwIAFggfAQUHUmVwb3J0cx8CBQIzMx8DaB8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUhc2VfcmVwb3J0X3pha2xqdWNlbmlfbmFsb2dpMS5hc3B4HwEFF1JldmlldyBvZiBjbG9zZWQgb3JkZXJzHwRnZBQrAAIWBh8GBRRzZV9vc3NfbmFyb2NpbGEuYXNweB8BBSNSZXZpZXcgc3RvY2tzIG9mIG1hdGVyaWFscyBmcm9tIE9TUx8EZ2QUKwACFgYfBgUgc2VfcmVwb3J0X2NsYWltc19mb3JfZGVhbGVyLmFzcHgfAQUYQ2xhaW1zIGV4cG9ydCBmb3IgZGVhbGVyHwRnZGQ8KwALAgAWCB8BBQRIZWxwHwIFAjM1HwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFCnBvbW9jLmFzcHgfAQUESGVscB8EZ2RkPCsACwIAFggfAQUDR0FTHwIFAjM4HwNnHwRnAQ9kEBYBZhYBFCsAAhYGHwYFD2dhc19yZXBvcnQuYXNweB8BBQNHQVMfBGdkZDwrAAsCABYIHwEFFVNlcnZpY2UgZG9jdW1lbnRhdGlvbh8CBQIzOR8DZx8EZwEPZBAWAWYWARQrAAIWCB8GBSFodHRwczovL3BhcnRuZXJzLmdvcmVuamUuY29tL2dzZC8fAQUVU2VydmljZSBkb2N1bWVudGF0aW9uHgZUYXJnZXQFBl9ibGFuax8EZ2RkZGQCBw8PFgIfAQUITGFuZ3VhZ2VkZAIJDxQrAAYPFgQeD0RhdGFTb3VyY2VCb3VuZGceBVZhbHVlBQJFTmRkZDwrAA8BDhQrAAYWAh4nRW5hYmxlU3luY2hyb25pemF0aW9uT25QZXJmb3JtQ2FsbGJhY2sgaGRkDxYCHgpJc1NhdmVkQWxsZw8UKwASFCsAARYIHwEFCUJvbGdhcmlhbh8KBQJCRx4ISW1hZ2VVcmxlHwRnFCsAARYIHwEFCENoaW5lZXNlHwoFAlpIHw1lHwRnFCsAARYIHwEFBUN6ZWNoHwoFAkNTHw1lHwRnFCsAARYIHwEFBUR1dGNoHwoFAk5MHw1lHwRnFCsAARYIHwEFB0VuZ2xpc2gfCgUCRU4fDWUfBGcUKwABFggfAQUGRnJlbmNoHwoFAkZSHw1lHwRnFCsAARYIHwEFBkdlcm1hbh8KBQJERR8NZR8EZxQrAAEWCB8BBQhIcnZhdHNraR8KBQJIUh8NZR8EZxQrAAEWCB8BBQlIdW5nYXJpYW4fCgUCSFUfDWUfBGcUKwABFggfAQUHSXRhbGlhbh8KBQJJVB8NZR8EZxQrAAEWCB8BBQpNYWtlZG9uc2tpHwoFAloxHw1lHwRnFCsAARYIHwEFBlBvbGlzaB8KBQJQTB8NZR8EZxQrAAEWCB8BBQhSb21hbmlhbh8KBQJSTx8NZR8EZxQrAAEWCB8BBQdSdXNzaWFuHwoFAlJVHw1lHwRnFCsAARYIHwEFCFNsb3Zha2lhHwoFAlNLHw1lHwRnFCsAARYIHwEFCVNsb3Zlbmlhbh8KBQJTTB8NZR8EZxQrAAEWCB8BBQZTcnBza2kfCgUCU0gfDWUfBGcUKwABFggfAQUJVWtyYWluc2tpHwoFAlVLHw1lHwRnZGRkZGRkAgsPZBYIAgEPDxYCHwEFGE92ZXJ2aWV3IG9mIGFsdGVybmF0aXZlc2RkAgMPDxYCHwEFCE1hdGVyaWFsZGQCCQ8PFgIfAQUEU2hvd2RkAhEPPCsAJgYADxYCHwlnZAIUKwABFgIfAQUHTG9hZGluZwYPZBAWDGYCAQICAgMCBAIFAgYCBwIIAgkCCgILFgw8KwAMAgAWAh4LR2xvYmFsSW5kZXhmCzwrAAUBABYGHglTb3J0SW5kZXgC/////w8eCkdyb3VwSW5kZXgC/////w8eCVNvcnRPcmRlcgspekRldkV4cHJlc3MuRGF0YS5Db2x1bW5Tb3J0T3JkZXIsIERldkV4cHJlc3MuRGF0YS52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhADwrAAwCABYEHgdDYXB0aW9uBQVUaXRsZR8OAgELPCsABQEAFgYfDwL/////Dx8QAv////8PHxELKwQAPCsADAIAFgQfEgULU3RvY2sgaW4gQ1MfDgICCzwrAAUBABYGHw9mHxAC/////w8fEQsrBAE8KwAMAgAWBB8SBQxQcmljZSBleCBHU1QfDgIDCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFDlByaWNlIHdpdGggR1NUHw4CBAs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB8SBRJUZWNobmljaWFuJ3Mgc3RvY2sfDgIFCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFGkRpc2NvdW50IDUlIChQcmljZSBleCBHU1QpHw4CBgs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB8SBRtEaXNjb3VudCAyMCUgKFByaWNlIGV4IEdTVCkfDgIHCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFHERpc2NvdW50IDUlIChQcmljZSB3aXRoIEdTVCkfDgIICzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFHURpc2NvdW50IDIwJSAoUHJpY2Ugd2l0aCBHU1QpHw4CCQs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB8SBRNTdG9jayBpbiBDLlcuIChTTE8pHw4CCgs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB4KQ29sVmlzaWJsZWgfDgILCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEAA8WDAIBAgECAQIBAgECAQIBAgECAQIBAgECARYBBX9EZXZFeHByZXNzLldlYi5HcmlkVmlld0RhdGFUZXh0Q29sdW1uLCBEZXZFeHByZXNzLldlYi52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhCTwrAAgBBxQrAAIWAh8BBR9QYWdlIHswfSBmcm9tIHsxfSAoezJ9IHJlc3VsdHMpZA0UKwABFgQeCkdyb3VwUGFuZWwFMURyYWcgYSBjb2x1bW4gaGVhZGVyIGhlcmUgdG8gZ3JvdXAgYnkgdGhhdCBjb2x1bW4eDERhdGFFbXB0eVJvdwUSTm8gZGF0YSB0byBkaXNwbGF5GDwrAAcBBRQrAAJkZGQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgQFDWN0bDAwJHNhZ01lbnUFFGN0bDAwJGNiSmV6aWtBcGwkREREBSJjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGltZ0V4Y2VsBSdjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJEFTUHhHcmlkVmlldzGtQUjHnOt0UJdPifc5dQJqX/WDEtk7Lc+a/fNvckV/wg==");
        request.AddParameter("__VIEWSTATEGENERATOR", "597CC0DF");
        request.AddParameter("ctl00$ContentPlaceHolder1$ASPxGridView1", "{&quot;keys&quot;:[],&quot;callbackState&quot;:&quot;BwUHAwIERGF0YQcnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwAHAAcAAgtGb3JtYXRTdGF0ZQcAAgVTdGF0ZQYsAQcMBwACAQcBAgEHAgIBBwMCAQcEAgEHBQIBBwYCAQcHAgEHCAIBBwkCAQcKAgEHCwIABwEHAgcBBwAHAAcABwAHDAcABv//BwEG//8HAgb//wcDBv//BwQG//8HBQb//wcGBv//BwcG//8HCAb//wcJBv//BwoG//8HCwb//wIABQAAAIAJAghtYXRlcmlhbAcACQIAAgADB34AXFN5c3RlbS5TdHJpbmdbXSwgbXNjb3JsaWIsIFZlcnNpb249NC4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5AgABAAAA/////wEAAAAAAAAAEQEAAAAAAAAACwIABwACAQcABwACAAIBBwAHAAcABwAHAAIIUGFnZVNpemUDBzICGlByZXZSZXF1ZXN0VmlzaWJsZVJvd0NvdW50AwcA&quot;,&quot;groupLevelState&quot;:{},&quot;selection&quot;:&quot;&quot;,&quot;toolbar&quot;:null}");
        request.AddParameter("ctl00$ContentPlaceHolder1$btnPrikazi", "Show");
        request.AddParameter("ctl00$ContentPlaceHolder1$tbMat", preemptModel.part);
        request.AddParameter("ctl00$cbJezikApl", "English");
        request.AddParameter("ctl00$cbJezikApl$DDD$L", "EN");
        request.AddParameter("ctl00$cbJezikApl$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$cbJezikApl$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$sagMenu", "{&quot;selectedItemIndexPath&quot;:&quot;12i2&quot;,&quot;groupsExpanding&quot;:&quot;1;1;1;0;0;0;1;0;1;1;1;1;1;0;0;0;1;1&quot;}");
        request.AddParameter("ctl00$tbOss", "");
        request.AddParameter("ctl00_cbJezikApl_VI", "EN");
        var response = await client.ExecuteAsync(request);
        string html = response.Content;
        var dataResult = html.Split("</td><td class=\"dxgv\">");
        if (dataResult.Length > 1)
        {
            ResultType = "found";
            var dataSet = dataResult[3].Split("</td><td class=\"dxgv\" align=\"right\">");

            result.number = dataResult[1].Substring(12);
            result.stock = dataSet[0];
            result.price = dataSet[2];
            result.name = dataResult[2];

            int stock = int.Parse(dataSet[0]);
            int addQty = int.Parse(preemptModel.qty);


            if (stock<addQty)
            {
                preemptMessage = $"{result.number} x {preemptModel.qty} is not in stock";

            }
            else
            {
                PartList.Add(result.number, preemptModel.qty);
            }

        }
        if (dataResult.Length == 1)
        {
            ResultType = "wrong";
            preemptMessage = "* Part number not exist";
        }

        if (html.Split("Overview of alternatives").Length == 1)
        {
            Preferences.Default.Set("login", false);
            Preferences.Default.Set("user", "");
        }
        await Task.CompletedTask;
        spiner = false;
        preemptModel = new()
            {
                qty = "1"
            };
    }


    private async Task Submit()
    {
        bar = true;
        submitMessage = " ";
        if(PartList==null|| PartList.Count == 0)
        {
            submitMessage = "* No part added";
            await Task.CompletedTask;
            bar = false;
            return;
        }

        StateHasChanged();
        string job = jobModel.job;
        var client = new RestClient($"https://partners.gorenje.com/sagCC/se_oss_order.aspx?id_oss={job}");
        var request = new RestRequest();
        string html;
        foreach (var item in PartList)
        {
            request = new RestRequest($"https://partners.gorenje.com/sagCC/se_oss_order.aspx?id_oss={job}", Method.Post);
            request.AddHeader("sec-ch-ua", "\"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"108\", \"Google Chrome\";v=\"108\"");
            request.AddHeader("sec-ch-ua-mobile", "?0");
            request.AddHeader("Cookie", Cookie);
            request.AddHeader("sec-ch-ua-platform", "\"Windows\"");
            request.AddHeader("Upgrade-Insecure-Requests", "1");
            request.AddHeader("Content-Type", "application/x-www-form-urlencoded");
            request.AddHeader("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9");
            request.AddHeader("host", "partners.gorenje.com");
            request.AddParameter("DXCss", "1_210,0_2443,1_68,1_209,0_2448,0_2550,0_2555,0_2455,0_2459");
            request.AddParameter("DXScript", "1_11,1_12,1_252,1_23,1_64,1_13,1_14,1_183,1_184,1_21,1_22,1_190,1_15,1_17,1_186,1_193,1_41,1_195,1_182,1_19,1_213,1_224,1_225,1_212,1_214,1_222,1_211,1_227,1_236,1_238,1_239,1_226,1_231,1_230,1_234,1_240");
            request.AddParameter("__EVENTARGUMENT", "");
            request.AddParameter("__EVENTTARGET", "");
            request.AddParameter("__VIEWSTATE", "/wEPDwUKLTEyMDE0ODM5NA9kFgICAw9kFhACAQ8PFgIeBFRleHQFCE1hdGVyaWFsZGQCAw8UKwAGDxYEHg9EYXRhU291cmNlQm91bmRnHgVWYWx1ZQUGNDM1ODk4ZGRkPCsADwEOFCsABhYCHidFbmFibGVTeW5jaHJvbml6YXRpb25PblBlcmZvcm1DYWxsYmFjayBoZGRkD2QQFghmAgECAgIDAgQCBQIGAgcWCBQrAAEWAh4PQ29sVmlzaWJsZUluZGV4ZhQrAAEWBB4HQ2FwdGlvbgUFVGl0bGUfBAIBFCsAARYCHwQCAhQrAAEWAh8EAgMUKwABFgQfBQUEVHlwZR8EAgQUKwABFgQfBQULQWx0ZXJuYXRpdmUfBAIFFCsAARYEHwUFBVN0b2NrHwQCBhQrAAEWBB8FBQtTdG9jayBpbiBDUx8EAgdkZGRkZAIHDw8WAh8ABQhRdWFudGl0eWRkAgkPPCsABgEADxYCHwIoKVtTeXN0ZW0uRGVjaW1hbCwgbXNjb3JsaWIsIFZlcnNpb249NC4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5ATFkZAILDw8WAh8AZWRkAg8PPCsABgEADxYCHwAFEEFkZCB0byB0aGUgb3JkZXJkZAITDzwrAAYBAA8WAh8ABQtTZW5kIHRvIFNBUGRkAhUPPCsAJgcADxYCHwFnZAIUKwABFgIfAAUHTG9hZGluZwMUKwABFgIeEUN1c3RvbUJ1dHRvbkNsaWNrBUtmdW5jdGlvbihzLCBlKSB7Z3ZQb3ppY2lqZS5QZXJmb3JtQ2FsbGJhY2soZS5idXR0b25JRCsnOicrZS52aXNpYmxlSW5kZXgpO30GD2QQFgdmAgECAgIDAgQCBQIGFgc8KwAMAgAWAh4LR2xvYmFsSW5kZXhmCzwrAAQBABYGHglTb3J0SW5kZXgC/////w8eCkdyb3VwSW5kZXgC/////w8eCVNvcnRPcmRlcgspekRldkV4cHJlc3MuRGF0YS5Db2x1bW5Tb3J0T3JkZXIsIERldkV4cHJlc3MuRGF0YS52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhADwrAAwCABYCHwcCAQs8KwAEAQAWBh8IAv////8PHwkC/////w8fCgsrBQA8KwAMAgAWBB8FBQVUaXRsZR8HAgILPCsABAEAFgYfCAL/////Dx8JAv////8PHwoLKwUAPCsADAIAFgQfBQUIUXVhbnRpdHkfBwIDCzwrAAQBABYGHwgC/////w8fCQL/////Dx8KCysFADwrAAwCABYEHwUFB0NvbW1lbnQfBwIECzwrAAQBABYGHwgC/////w8fCQL/////Dx8KCysFADwrAAwCABYCHwcCBQs8KwAEAQAWBh8IAv////8PHwkC/////w8fCgsrBQA8KwAIAQAWAh8HAgYPFgcCAQIBAgECAQIBAgECAhYCBXtEZXZFeHByZXNzLldlYi5HcmlkVmlld0RhdGFDb2x1bW4sIERldkV4cHJlc3MuV2ViLnYyMS4yLCBWZXJzaW9uPTIxLjIuMy4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPWI4OGQxNzU0ZDcwMGU0OWEFfkRldkV4cHJlc3MuV2ViLkdyaWRWaWV3Q29tbWFuZENvbHVtbiwgRGV2RXhwcmVzcy5XZWIudjIxLjIsIFZlcnNpb249MjEuMi4zLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjg4ZDE3NTRkNzAwZTQ5YQk8KwAIAQcUKwACFgIfAAUfUGFnZSB7MH0gZnJvbSB7MX0gKHsyfSByZXN1bHRzKWQNFCsAARYEHgpHcm91cFBhbmVsBTFEcmFnIGEgY29sdW1uIGhlYWRlciBoZXJlIHRvIGdyb3VwIGJ5IHRoYXQgY29sdW1uHgxEYXRhRW1wdHlSb3cFEk5vIGRhdGEgdG8gZGlzcGxheRg8KwAHAQUUKwACZGRkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYEBRBkZF9pemRfc2lmcmEkREREBRJidG5Eb2Rhak5hTmFyb2NpbG8FGmJ0bk5hcm9jaWxvWmFwcmlJblpha2xqdWNpBQpndlBvemljaWplzgdqk9R9iyxALfMe8UtyWvrdO6iPgyOj3uonlwj9QZY=");
            request.AddParameter("__VIEWSTATEGENERATOR", "2DBB9891");
            request.AddParameter("btnDodajNaNarocilo", "Add to the order");
            request.AddParameter("dd_izd_sifra", item.Key);
            request.AddParameter("dd_izd_sifra$DDD$L", item.Key);
            request.AddParameter("dd_izd_sifra$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
            request.AddParameter("dd_izd_sifra$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
            request.AddParameter("dd_izd_sifra_VI", item.Key);
            request.AddParameter("spKolicinaMatNarocilo", item.Value);
            request.AddParameter("tbKomentarMatNarocilo", "");
            var response = await client.ExecuteAsync(request);
            html = response.Content;
            //Check if login expired
            if (html.Split("pageRedirect").Length == 2)
            {
                Preferences.Default.Set("login", false);
                Preferences.Default.Set("user", "");
            }
            //Check if job number correct
            if (html.Split("<input id=\"dd_izd_sifra_VI\" name=\"dd_izd_sifra_VI\" type=\"hidden\" ")[1][0] == 'v')
            {
                submitMessage = "* Wrong job number";

                await Task.CompletedTask;
                jobModel = new();
                bar = false;
                return;
            }
        }
                request = new RestRequest($"https://partners.gorenje.com/sagCC/se_oss_order.aspx?id_oss={job}",Method.Post);
                request.AddHeader("sec-ch-ua", "\"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"108\", \"Google Chrome\";v=\"108\"");
                request.AddHeader("sec-ch-ua-mobile", "?0");
                request.AddHeader("sec-ch-ua-platform", "\"Windows\"");
                request.AddHeader("Upgrade-Insecure-Requests", "1");
                request.AddHeader("Content-Type", "application/x-www-form-urlencoded");
                request.AddHeader("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9");
                request.AddHeader("host", "partners.gorenje.com");
                request.AddHeader("Cookie", Cookie);
                request.AddParameter("DXCss", "1_210,0_2443,1_68,1_209,0_2448,0_2550,0_2555,0_2455,0_2459");
                request.AddParameter("DXScript", "1_11,1_12,1_252,1_23,1_64,1_13,1_14,1_183,1_184,1_21,1_22,1_190,1_15,1_17,1_186,1_193,1_41,1_195,1_182,1_19,1_213,1_224,1_225,1_212,1_214,1_222,1_211,1_227,1_236,1_238,1_239,1_226,1_231,1_230,1_234,1_240");
                request.AddParameter("__EVENTARGUMENT", "");
                request.AddParameter("__EVENTTARGET", "");
                request.AddParameter("__VIEWSTATE", "/wEPDwUKLTEyMDE0ODM5NA9kFgICAw9kFg4CAQ8PFgIeBFRleHQFCE1hdGVyaWFsZGQCAw88KwAGAQM8KwAPAQ4UKwAGFgIeJ0VuYWJsZVN5bmNocm9uaXphdGlvbk9uUGVyZm9ybUNhbGxiYWNrIGhkZGQPZBAWCGYCAQICAgMCBAIFAgYCBxYIFCsAARYCHg9Db2xWaXNpYmxlSW5kZXhmFCsAARYEHgdDYXB0aW9uBQVUaXRsZR8CAgEUKwABFgIfAgICFCsAARYCHwICAxQrAAEWBB8DBQRUeXBlHwICBBQrAAEWBB8DBQtBbHRlcm5hdGl2ZR8CAgUUKwABFgQfAwUFU3RvY2sfAgIGFCsAARYEHwMFC1N0b2NrIGluIENTHwICB2RkZAIHDw8WAh8ABQhRdWFudGl0eWRkAgsPDxYCHwAFB0NvbW1lbnRkZAIPDzwrAAYBAA8WAh8ABRBBZGQgdG8gdGhlIG9yZGVyZGQCEw88KwAGAQAPFgIfAAULU2VuZCB0byBTQVBkZAIVDzwrACYHAA8WAh4PRGF0YVNvdXJjZUJvdW5kZ2QCFCsAARYCHwAFB0xvYWRpbmcDFCsAARYCHhFDdXN0b21CdXR0b25DbGljawVLZnVuY3Rpb24ocywgZSkge2d2UG96aWNpamUuUGVyZm9ybUNhbGxiYWNrKGUuYnV0dG9uSUQrJzonK2UudmlzaWJsZUluZGV4KTt9Bg9kEBYHZgIBAgICAwIEAgUCBhYHPCsADAEAFgIeC0dsb2JhbEluZGV4ZjwrAAwBABYCHwYCATwrAAwBABYEHwMFBVRpdGxlHwYCAjwrAAwBABYEHwMFCFF1YW50aXR5HwYCAzwrAAwBABYEHwMFB0NvbW1lbnQfBgIEPCsADAEAFgIfBgIFPCsACAEAFgIfBgIGDxYHAgECAQIBAgECAQIBAgIWAgV7RGV2RXhwcmVzcy5XZWIuR3JpZFZpZXdEYXRhQ29sdW1uLCBEZXZFeHByZXNzLldlYi52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhBX5EZXZFeHByZXNzLldlYi5HcmlkVmlld0NvbW1hbmRDb2x1bW4sIERldkV4cHJlc3MuV2ViLnYyMS4yLCBWZXJzaW9uPTIxLjIuMy4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPWI4OGQxNzU0ZDcwMGU0OWEJPCsACAEHFCsAAhYCHwAFH1BhZ2UgezB9IGZyb20gezF9ICh7Mn0gcmVzdWx0cylkDRQrAAEWBB4KR3JvdXBQYW5lbAUxRHJhZyBhIGNvbHVtbiBoZWFkZXIgaGVyZSB0byBncm91cCBieSB0aGF0IGNvbHVtbh4MRGF0YUVtcHR5Um93BRJObyBkYXRhIHRvIGRpc3BsYXkYPCsABwEFFCsAAmRkZBgBBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WBQUQZGRfaXpkX3NpZnJhJERERAUSYnRuRG9kYWpOYU5hcm9jaWxvBRpidG5OYXJvY2lsb1phcHJpSW5aYWtsanVjaQUKZ3ZQb3ppY2lqZQUSZ3ZQb3ppY2lqZSREWENCdG4wy+tD4Ld7fLy8AT0/0t0QhJmo3XfkhkfMw3T5VZCgcZc=");
                request.AddParameter("__VIEWSTATEGENERATOR", "2DBB9891");
                request.AddParameter("btnNarociloZapriInZakljuci", "Send to SAP");
                request.AddParameter("dd_izd_sifra", "");
                request.AddParameter("dd_izd_sifra$DDD$L", "");
                request.AddParameter("dd_izd_sifra$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
                request.AddParameter("dd_izd_sifra$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
                request.AddParameter("dd_izd_sifra_VI", "");
               request.AddParameter("spKolicinaMatNarocilo", "1");
                request.AddParameter("tbKomentarMatNarocilo", "");
                var response2 = await client.ExecuteAsync(request);
                html = response2.Content;
                string SAP = html.Split("alert(\"ACCEPTED - SAP Order no.: ")[1].Split("\");")[0];
                submitMessage = $"------------PreEmpt Successful. SAP: {SAP}------------";

                PartList.Clear();
                StateHasChanged();

        await Task.CompletedTask;
        jobModel = new();
        bar = false;
    }




}
