@page "/sale"
@using RestSharp
@inject NavigationManager _navigationManager
@using Spire.Pdf

<h1>Sale</h1>
@if (Preferences.Default.Get("login", false) == false)
{
    <h3 style="color:red">Login expired</h3>
    <button class="btn btn-primary" onclick="@(()=>_navigationManager.NavigateTo(""))">Login</button>
}
else if (Preferences.Default.Get("user", " ") != "Roshan Liu")
{
    <h3>You are not authorized to use this function</h3>
}
else
{
    @if(View == "PartEntry")
    {
        
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Parts</li>
            </ol>
        </nav>
        <EditForm class="form-group" Model="@partRecord" OnValidSubmit="Add">
            <div class="input-group">
                <span class="input-group-text">Part Number</span>
                <InputText class="form-control" @bind-Value="partRecord.part" required/>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-text">Quantity</span>
                <InputText class="form-control" type="number" @bind-Value="partRecord.qty" required />
                <div class="col">
                @if (spiner)
                {
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
                </div>
                <div class="col">
                    <button class="btn btn-primary form-control">Add</button>
                </div>
            </div>
        </EditForm>

        <p style="color:red">@AddMessage</p>
        <br/>
        <div id="datatable">
            <table class="table table-success table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Part Number</th>
                        <th>Quantity</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Record item in PartList)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-sm">@item.Number</a>
                            </td>
                            <td>
                                <a class="btn btn-sm">@item.Quantity</a>
                            </td>
                            <td>
                                <a class="btn btn-sm">@item.Name</a>
                            </td>
                            <td>
                                <a class="btn btn-sm">@item.Price</a>
                            </td>
                            <td style="text-align:center;">
                                <a class="btn btn-sm btn-danger" onclick="@(()=>Delete(item.Number))">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <p class="text-end">Total: @Total</p>

        <button class="btn btn-primary float-end" onclick="@(()=>GoTo("CustomerEntry"))">Next</button>
        
    }
    /////Enter Customer Detail
    @if(View == "CustomerEntry")
    {
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a onclick="@(()=>GoTo("PartEntry"))">Parts</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Customer Info</li>
            </ol>
        </nav>
        ////////CounterSale////////
        @if (Type == "CounterSale")
        {
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" onclick="@(()=>SetType("CounterSale"))" checked/>
                <label class="btn btn-outline-primary" for="btnradio1">Counter Sale</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="@(()=>SetType("Delivery"))" />
                <label class="btn btn-outline-primary" for="btnradio2">Delivery</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="@(()=>SetType("FOC"))">
                <label class="btn btn-outline-primary" for="btnradio3">FOC</label>
            </div>
            <EditForm class="form-group" Model="@customerInfo" OnValidSubmit="Submit">
                <div class="mb-3">
                    <label for="CusName" class="form-label">Name on invoice</label>
                    <input class="form-control" id="CusName" @bind-value="customerInfo.Name" required/>
                </div>
                <div class="mb-3">
                    <label for="CusPhone" class="form-label">Phone number</label>
                    <input class="form-control" id="CusPhone" @bind-value="customerInfo.Phone" />
                </div>
                <button class="btn btn-primary form-control">Submit</button>
            </EditForm>
            @if (bar)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            }
        }
        ////////Delivery////////
        @if(Type == "Delivery")
        {
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" onclick="@(()=>SetType("CounterSale"))" />
                <label class="btn btn-outline-primary" for="btnradio1">Counter Sale</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="@(()=>SetType("Delivery"))" checked/>
                <label class="btn btn-outline-primary" for="btnradio2">Delivery</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="@(()=>SetType("FOC"))">
                <label class="btn btn-outline-primary" for="btnradio3">FOC</label>
            </div>
            <EditForm class="form-group" Model="@customerInfo" OnValidSubmit="Submit">
                <div class="mb-3">
                    <label for="CusName" class="form-label">Name on invoice</label>
                    <input class="form-control" id="CusName" @bind-value="customerInfo.Name" required>
                </div>
                <div class="mb-3">
                    <label for="CusPhone" class="form-label">Phone number</label>
                    <input class="form-control" id="CusPhone" @bind-value="customerInfo.Phone"/>
                </div>
                <div class="mb-3">
                    <label for="CusStreet" class="form-label">Address in Google Map format</label>
                    <input class="form-control" id="CusStreet" @bind-value="customerInfo.FullAddtress" required/>
                </div>

                <button class="btn btn-primary form-control">Submit</button>
            </EditForm>
            @if (bar)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            }
        }
        ////////FOC////////
        @if(Type == "FOC")
        {
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" onclick="@(()=>SetType("CounterSale"))" />
                <label class="btn btn-outline-primary" for="btnradio1">Counter Sale</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="@(()=>SetType("Delivery"))" />
                <label class="btn btn-outline-primary" for="btnradio2">Delivery</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="@(()=>SetType("FOC"))" checked />
                <label class="btn btn-outline-primary" for="btnradio3">FOC</label>
            </div>
            <EditForm class="form-group" Model="@customerInfo" OnValidSubmit="Submit">
                <div class="mb-3">
                    <label for="CusName" class="form-label">Name on invoice</label>
                    <input class="form-control" id="CusName" @bind-value="customerInfo.Name" required>
                </div>
                <div class="mb-3">
                    <label for="CusPhone" class="form-label">Phone number</label>
                    <input class="form-control" id="CusPhone" @bind-value="customerInfo.Phone" />
                </div>
                <div class="mb-3">
                    <label for="CusStreet" class="form-label">Address in Google Map format</label>
                    <input class="form-control" id="CusStreet" @bind-value="customerInfo.FullAddtress" required/>
                </div>

                <button class="btn btn-primary form-control">Submit</button>
            </EditForm>
            @if (bar)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            }
        }
        <br/>

        <button class="btn btn-primary" onclick="@(()=>GoTo("PartEntry"))">Back</button>
    }
    /////////////////////////Payment/////////////////////
    @if(View == "Payment")
    {
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a>Parts</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Customer Info</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Payment</li>
            </ol>
        </nav>
        <a href="https://partners.gorenje.com/sagCC/se_prodaja_rd_au.aspx?zapst=@Bill">Bill No. @Bill</a>
        <br/>
        <EditForm class="form-group" Model="@discount" OnValidSubmit="Apply">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="coupon" class="col-form-label">Coupon</label>
                </div>
                <div class="col-auto">
                    <InputText type="number" id="coupon" class="form-control" @bind-Value="discount.Coupon"></InputText>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary form-control">Apply</button>
                </div>
            </div>
        </EditForm>
        <br/>
        <button class="btn btn-primary" onclick="@(()=>Print())">Print invoice</button>
        <br/>

        <br/>
        <EditForm class="form-group" Model="@payment" OnValidSubmit="Pay">
            <div class="mb-3">
                <label for="trancode" class="form-label">Transaction Code</label>
                <input class="form-control" id="trancode" @bind-value="payment.TransCode" required />
            </div>
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </EditForm>
        @if (bar)
        {
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        }
    }
    @CusMessage
}
@code{
    public string Bill = "";
    public bool bar { get; set; } = false;
    public string View { get; set; } = "PartEntry";
    public double Total { get; set; } = 0;
    public string CusMessage { get; set; } = " ";
    public bool spiner { get; set; } = false;
    public string Cookie = Preferences.Default.Get("cookie", "");
    public List<Record> PartList = new();
    public string Type { get; set; } = "CounterSale";
    public string AddMessage { get; set; } = " ";
    public class PartRecord
    {
        public string part { get; set; }
        public string qty { get; set; } = "1";
    }
    public class Payment
    {
        public string TransCode { get; set; }
    }
    public class CustomerInfo
    {
        public string Name { get; set; }
        public string FullAddtress { get; set; }
        public string Phone { get; set; }
        public string Type { get; set; } = "Retail";
    }
    public class Discount
    {
        public string Coupon { get; set; } = "0";
    }
    public class Result
    {
        public string number { get; set; }
        public string stock { get; set; }
        public string name { get; set; }
        public string price { get; set; }
    }

    public class Record
    {
        public string Number { get; set; }
        public string Quantity { get; set; }
        public string Name { get; set; }
        public double Price { get; set; }
    }
    public Record Del = new()
        {
            Number = "93",
            Name = "Delivery Fee",
            Quantity = "1",
            Price = 24.2
        };

    public CustomerInfo customerInfo = new();
    public PartRecord partRecord = new();
    public Result result = new();
    public Payment payment = new();
    public Discount discount = new();

    private void GoTo(string page)
    {
        View = page;
    }
    public void Delete(string partNumber)
    {
        foreach(var r in PartList)
        {
            if (r.Number == partNumber)
            {
                PartList.Remove(r);
                StateHasChanged();
                return;
            }
        }
    }

    private async void SetType(string type)
    {
        Type = type;
        if (type =="Delivery")
        {
            if (!PartList.Contains(Del))
            {
                PartList.Add(Del);
            }
        }
        else
        {
            if (PartList.Contains(Del))
            {
                PartList.Remove(Del);
            }
        }
        await UpdateTotal();
    }


    private async Task Add()
    {
        spiner = true;
        AddMessage = " ";

        //Validate that qty cannot be 0
        if (partRecord.qty == "0")
        {
            AddMessage = $"* Invalid quantity";
            await Task.CompletedTask;
            spiner = false;
            partRecord = new();
            return;
        }
        //Validate if part already added
        foreach(Record r in PartList)
        {
            if (r.Number == partRecord.part)
            {
                AddMessage = $"* {partRecord.part} already exists";
                await Task.CompletedTask;
                spiner = false;
                partRecord = new();
                return;
            }
        }

        var client = new RestClient("https://partners.gorenje.com/sagcc/se_pregled_alternativ_nov.aspx");
        var request = new RestRequest("https://partners.gorenje.com/sagcc/se_pregled_alternativ_nov.aspx", Method.Post);
        request.AddHeader("Cookie", Cookie);
        request.AddHeader("sec-ch-ua", "\"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"108\", \"Google Chrome\";v=\"108\"");
        request.AddHeader("sec-ch-ua-mobile", "?0");
        request.AddHeader("sec-ch-ua-platform", "\"Windows\"");
        request.AddHeader("Upgrade-Insecure-Requests", "1");
        request.AddHeader("Content-Type", "application/x-www-form-urlencoded");
        request.AddHeader("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9");
        request.AddHeader("host", "partners.gorenje.com");
        request.AddParameter("DXCss", "0_2550,1_68,0_2555,1_210,0_2443,1_209,0_2448,0_2455,0_2459");
        request.AddParameter("DXScript", "1_11,1_12,1_252,1_23,1_64,1_13,1_14,1_15,1_35,1_183,1_184,1_21,1_22,1_190,1_17,1_186,1_193,1_41,1_19,1_213,1_224,1_225,1_211,1_227,1_236,1_238,1_239,1_230,1_234,1_240,1_39");
        request.AddParameter("__EVENTARGUMENT", "");
        request.AddParameter("__EVENTTARGET", "ctl00$ContentPlaceHolder1$tbMat");
        request.AddParameter("__LASTFOCUS", "");
        request.AddParameter("__VIEWSTATE", "/wEPDwUJODAyNDE4MzY0D2QWAmYPZBYCAgMPZBYIAgUPPCsACQIADxYCHg5fIVVzZVZpZXdTdGF0ZWdkBg9kEBYSZgIBAgICAwIEAgUCBgIHAggCCQIKAgsCDAINAg4CDwIQAhEWEjwrAAsCABYIHgRUZXh0BQNTQUceBE5hbWUFA1NBRx4IRXhwYW5kZWRnHg5SdW50aW1lQ3JlYXRlZGcBD2QQFgNmAgECAhYDFCsAAhYGHwEFEFVzZXI6IFJvc2hhbiBMaXUeFUNsaWVudEVuYWJsZWRJbnRlcm5hbGgfBGdkFCsAAhYGHgtOYXZpZ2F0ZVVybAUMc3JlZGluYS5hc3B4HwEFBEhvbWUfBGdkFCsAAhYGHwYFC2xvZ291dC5hc3B4HwEFB0xvZyBvZmYfBGdkZDwrAAsCABYIHwEFC0NhbGwgQ2VudGVyHwIFATIfA2cfBGcBD2QQFgNmAgECAhYDFCsAAhYGHwYFFGNhbGxjZW50ZXJfdm5vcy5hc3B4HwEFC0VudGVyIGNsYWltHwRnZBQrAAIWBh8GBRhjYWxsY2VudGVyX3ByZWdsZWQxLmFzcHgfAQUQUmV2aWV3IG9mIGNsYWltcx8EZ2QUKwACFgYfBgUsc2VfcG90cmRpX3Jla2xhbWFjaWplLmFzcHg/ZGVsaXZlcnlpbnN0YWxsPTEfAQUeUmVxdWVzdCBmb3IgZGVsaXZlcnkgLyBpbnN0YWxsHwRnZGQ8KwALAgAWCB8BBQ5TZXJ2aWNlIG9yZGVycx8CBQEzHwNnHwRnAQ9kEBYFZgIBAgICAwIEFgUUKwACFgYfBgUTcG90bmlfcHJlZ2xlZDEuYXNweB8BBRxSZXZpZXcgY2xpZW50cyBpbiB0aGUgYmFza2V0HwRnZBQrAAIWBh8GBRlzZV9wcmdfemFrbGp1Y2V2YW5qZS5hc3B4HwEFIENvbXBsZXRpbmcgb2YgYWdyZWVkIHdvcmsgb3JkZXJzHwRnZBQrAAIWBh8GBSBzZV9kbmV2bm9femFrbGp1Y2VuaV9uYWxvZ2kuYXNweB8BBS1EYWlseSByZXR1cm4gZGVsaXZlcnkgLyBDbG9zZWQgd29ya2luZyBvcmRlcnMfBGdkFCsAAhYGHwYFHHNlX25lcmF6cG9yZWplbmlfbmFsb2dpLmFzcHgfAQUZV29yayBvcmRlcnMgb3V0IG9mIGJhc2tldB8EZ2QUKwACFgYfBgUTcG90bmlfa3JlaXJhajEuYXNweB8BBRtNYW51YWwgYWxsb2NhdGlvbiBvZiBvcmRlcnMfBGdkZDwrAAsCABYIHwEFBVNhbGVzHwIFATkfA2gfBGcBD2QQFgNmAgECAhYDFCsAAhYGHwYFFXNlX3Byb2RhamFfcmRfYXUuYXNweB8BBRBTcGFyZSBwYXJ0cyBzYWxlHwRnZBQrAAIWBh8GBRZzZV9wcm9kYWphX3JkX3ByZy5hc3B4HwEFDVNhbGVzIHByZXZpZXcfBGdkFCsAAhYGHwYFGnNlX2JsYWdham5hX3pha2xqdWNlay5hc3B4HwEFFkNvbXBsZXRpb24gb2YgdGhlIHNhbGUfBGdkZDwrAAsCABYIHwEFCUNhc2ggZGVzax8CBQIxMx8DaB8EZwEPZBAWBmYCAQICAgMCBAIFFgYUKwACFgYfBgUXc2VfYmxhZ2FqbmFfc3RhbmplLmFzcHgfAQUNU3RhdGUgb2YgY2FzaB8EZ2QUKwACFgYfBgUXc2VfYmxhZ2FqbmFfa25qaWdhLmFzcHgfAQUJQ2FzaCBib29rHwRnZBQrAAIWBh8GBRlzZV9ibGFnYWpuYV9wcmVqZW1raS5hc3B4HwEFC0Nhc2ggaW5jb21lHwRnZBQrAAIWBh8GBRhzZV9ibGFnYWpuYV9pemRhdGtpLmFzcHgfAQURQ2FzaCBkaXNidXJzZW1lbnQfBGdkFCsAAhYGHwYFG3NlX2JsYWdham5hX2l6ZHByZV9wcmcuYXNweB8BBRpSZXZpZXcgb2YgRXhwZW5jZXMvSW5jb21lcx8EZ2QUKwACFgYfBgUSc2VfcmVwb3J0X29zcy5hc3B4HwEFEERpc3BsYXkgb2YgT1NTJ3MfBGdkZDwrAAsCABYIHwEFC1N1cGVydmlzaW9uHwIFAjE0HwNoHwRnAQ9kEBYGZgIBAgICAwIEAgUWBhQrAAIWBh8GBRZzZV9uYWR6b3JfcHJvZGFqYS5hc3B4HwEFDVNhbGVzIHByZXZpZXcfBGdkFCsAAhYGHwYFFXNlX25hZHpvcl9pemRwcmUuYXNweB8BBRpSZXZpZXcgb2YgRXhwZW5jZXMvSW5jb21lcx8EZ2QUKwACFgYfBgUVc2VfbmFkem9yX2tuamlnYS5hc3B4HwEFCUNhc2ggYm9vax8EZ2QUKwACFgYfBgUVc2VfbmFkem9yX3N0YW5qZS5hc3B4HwEFDVN0YXRlIG9mIGNhc2gfBGdkFCsAAhYGHwYFF3NlX25hZHpvcl9ibGFnYWpuYS5hc3B4HwEFBlJlcG9ydB8EZ2QUKwACFgYfBgUWc2VfcmVwb3J0X29zcy5hc3B4P249MR8BBRBEaXNwbGF5IG9mIE9TUydzHwRnZGQ8KwALAgAWCB8BBQVTdG9jax8CBQIyMh8DZx8EZwEPZBAWCWYCAQICAgMCBAIFAgYCBwIIFgkUKwACFgYfBgUUemFsb2dhX3NlcnZpc2VyLmFzcHgfAQUSVGVjaG5pY2lhbidzIHN0b2NrHwRnZBQrAAIWBh8GBRdwcmVnbGVkX3phb3N0YW5rb3YuYXNweB8BBRxSZXZpZXcgbWF0ZXJpYWwgcmVzZXJ2YXRpb25zHwRnZBQrAAIWBh8GBRVwcmVnbGVkemFsb2dhbm92LmFzcHgfAQUWUHJldmlldyBvZiBzdG9jayAtIE5FVx8EZ2QUKwACFgYfBgUYc2VfaXpkYWphX21hdGVyaWFsYS5hc3B4HwEFGFJldmlldyBvZiBtYXRlcmlhbCBpc3N1ZR8EZ2QUKwACFgYfBgUZc2VfcHJldnplbV9tYXRlcmlhbGEuYXNweB8BBR5SZXZpZXcgb2YgbWF0ZXJpYWwgdGFraW5nIG92ZXIfBGdkFCsAAhYGHwYFGXNlX2dpYmFuamVfbWF0ZXJpYWxhLmFzcHgfAQUUTWF0ZXJpYWwgZmxvdyByZXZpZXcfBGdkFCsAAhYGHwYFE3BvcHJhdmFfemFsb2dlLmFzcHgfAQUTQ29ycmVjdGlvbiBvZiBTdG9jax8EZ2QUKwACFgYfBgUWc2VfemFsb2dlX3NhZ19zYXAuYXNweB8BBRtTdG9jayBjb21wYXJpc29uICBTQUcgLSBTQVAfBGdkFCsAAhYGHwYFC3phbG9nYS5hc3B4HwEFBVN0b2NrHwRnZGQ8KwALAgAWCB8BBRJSZXR1cm5pbmcgbWF0ZXJpYWwfAgUCMjMfA2gfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRF2cmFjaWxvX3Zub3MuYXNweB8BBQ9SZXR1cm4gbWF0ZXJpYWwfBGdkFCsAAhYGHwYFHnZyYWNpbG9fcHJlZ2xlZF9wb3RyZGl0ZXYuYXNweB8BBRFSZXR1cm5pbmdzIHJldmlldx8EZ2RkPCsACwIAFggfAQUJSW52ZW50b3J5HwIFAjI0HwNnHwRnAQ9kEBYCZgIBFgIUKwACFgYfBgUTaW52ZW50dXJhX3Zub3MuYXNweB8BBQlJbnZlbnRvcnkfBGdkFCsAAhYGHwYFE3ByaW1lcmphdmFfaW52LmFzcHgfAQUYSW52ZW50b3J5IFJldmlldy9Db21wYXJlHwRnZGQ8KwALAgAWCB8BBQZPcmRlcnMfAgUCMjUfA2cfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRRwcmVnbGVkX25hcm9jaWwuYXNweB8BBR5SZXZpZXcgb3JkZXJzLCBtYW51YWwgb3JkZXJpbmcfBGdkFCsAAhYGHwYFD3NlX3ByZXZ6ZW0uYXNweB8BBSFDb25maXJtYXRpb24gb2YgcmVjaWV2ZWQgbWF0ZXJpYWwfBGdkZDwrAAsCABYIHwEFBFNldHMfAgUCMjYfA2cfBGcBD2QQFgZmAgECAgIDAgQCBRYGFCsAAhYGHwYFG3ByZWdsZWRfc2V0X3BsYW5pcmFuamUuYXNweB8BBRpSZXZpZXcgb2Ygc3BhcmUgcGFydHMgc2V0cx8EZ2QUKwACFgYfBgUXc2Vfc2V0aV9zZXJ2aXNlcmppLmFzcHgfAQUcVHJpZ2dlciBwb2ludHMgLSBUZWNobmljaWFucx8EZ2QUKwACFgYfBgUUc2Vfc2V0aV90ZWhuaWthLmFzcHgfAQUiVHJpZ2dlciBwb2ludHMgLSBTZXJ2aWNlIHRlY2huaXF1ZR8EZ2QUKwACFgYfBgUVc2Vfc2V0aV9zZXR0aW5ncy5hc3B4HwEFIVVwZGF0aW5nIG9yZGVycyBzY2hlZHVsZSBzZXR0aW5ncx8EZ2QUKwACFgYfBgUbc2Vfc2V0aV9vYnZlc2NhbmplX21uZy5hc3B4HwEFIkpvYiBvcmRlciBpbXBsZW1lbnRhdGlvbiBpbmZvcm1pbmcfBGdkFCsAAhYGHwYFGHNlX3NlcnZpc2VyX2Nhcl9iaW4uYXNweB8BBRpWZWhpY2xlcyBzdG9yYWdlIGxvY2F0aW9ucx8EZ2RkPCsACwIAFggfAQUXU3RvY2sgVHJhbnNmZXIgUmVjZWlwdHMfAgUCMjcfA2cfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRFtZWRfc2tsX3Zub3MuYXNweB8BBR1DcmVhdGUgU3RvY2sgVHJhbnNmZXIgUmVjZWlwdB8EZ2QUKwACFgYfBgUUbWVkX3NrbF9wcmVnbGVkLmFzcHgfAQUeU3RvY2sgVHJhbnNmZXIgcmVjZWlwdHMgcmV2aWV3HwRnZGQ8KwALAgAWCB8BBRZTcGFyZSBwYXJ0cyBwcmljZSBsaXN0HwIFAjI4HwNnHwRnAQ9kEBYDZgIBAgIWAxQrAAIWBh8GBQ1zZV9jZW5pay5hc3B4HwEFFlNwYXJlIHBhcnRzIHByaWNlIGxpc3QfBGdkFCsAAhYGHwYFGnNlX3ByZWdsZWRfYWx0ZXJuYXRpdi5hc3B4HwEFGE92ZXJ2aWV3IG9mIGFsdGVybmF0aXZlcx8EZ2QUKwACFggfBgUec2VfcHJlZ2xlZF9hbHRlcm5hdGl2X25vdi5hc3B4HwEFIE92ZXJ2aWV3IG9mIGFsdGVybmF0aXZlcyAtIFN0b2NrHwRnHghTZWxlY3RlZGdkZDwrAAsCABYIHwEFDkFkbWluaXN0cmF0aW9uHwIFAjMyHwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFFGNoYW5nZV9wYXNzd29yZC5hc3B4HwEFD0NoYW5nZSBwYXNzd29yZB8EZ2RkPCsACwIAFggfAQUHUmVwb3J0cx8CBQIzMx8DaB8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUhc2VfcmVwb3J0X3pha2xqdWNlbmlfbmFsb2dpMS5hc3B4HwEFF1JldmlldyBvZiBjbG9zZWQgb3JkZXJzHwRnZBQrAAIWBh8GBRRzZV9vc3NfbmFyb2NpbGEuYXNweB8BBSNSZXZpZXcgc3RvY2tzIG9mIG1hdGVyaWFscyBmcm9tIE9TUx8EZ2QUKwACFgYfBgUgc2VfcmVwb3J0X2NsYWltc19mb3JfZGVhbGVyLmFzcHgfAQUYQ2xhaW1zIGV4cG9ydCBmb3IgZGVhbGVyHwRnZGQ8KwALAgAWCB8BBQRIZWxwHwIFAjM1HwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFCnBvbW9jLmFzcHgfAQUESGVscB8EZ2RkPCsACwIAFggfAQUDR0FTHwIFAjM4HwNnHwRnAQ9kEBYBZhYBFCsAAhYGHwYFD2dhc19yZXBvcnQuYXNweB8BBQNHQVMfBGdkZDwrAAsCABYIHwEFFVNlcnZpY2UgZG9jdW1lbnRhdGlvbh8CBQIzOR8DZx8EZwEPZBAWAWYWARQrAAIWCB8GBSFodHRwczovL3BhcnRuZXJzLmdvcmVuamUuY29tL2dzZC8fAQUVU2VydmljZSBkb2N1bWVudGF0aW9uHgZUYXJnZXQFBl9ibGFuax8EZ2RkZGQCBw8PFgIfAQUITGFuZ3VhZ2VkZAIJDxQrAAYPFgQeD0RhdGFTb3VyY2VCb3VuZGceBVZhbHVlBQJFTmRkZDwrAA8BDhQrAAYWAh4nRW5hYmxlU3luY2hyb25pemF0aW9uT25QZXJmb3JtQ2FsbGJhY2sgaGRkDxYCHgpJc1NhdmVkQWxsZw8UKwASFCsAARYIHwEFCUJvbGdhcmlhbh8KBQJCRx4ISW1hZ2VVcmxlHwRnFCsAARYIHwEFCENoaW5lZXNlHwoFAlpIHw1lHwRnFCsAARYIHwEFBUN6ZWNoHwoFAkNTHw1lHwRnFCsAARYIHwEFBUR1dGNoHwoFAk5MHw1lHwRnFCsAARYIHwEFB0VuZ2xpc2gfCgUCRU4fDWUfBGcUKwABFggfAQUGRnJlbmNoHwoFAkZSHw1lHwRnFCsAARYIHwEFBkdlcm1hbh8KBQJERR8NZR8EZxQrAAEWCB8BBQhIcnZhdHNraR8KBQJIUh8NZR8EZxQrAAEWCB8BBQlIdW5nYXJpYW4fCgUCSFUfDWUfBGcUKwABFggfAQUHSXRhbGlhbh8KBQJJVB8NZR8EZxQrAAEWCB8BBQpNYWtlZG9uc2tpHwoFAloxHw1lHwRnFCsAARYIHwEFBlBvbGlzaB8KBQJQTB8NZR8EZxQrAAEWCB8BBQhSb21hbmlhbh8KBQJSTx8NZR8EZxQrAAEWCB8BBQdSdXNzaWFuHwoFAlJVHw1lHwRnFCsAARYIHwEFCFNsb3Zha2lhHwoFAlNLHw1lHwRnFCsAARYIHwEFCVNsb3Zlbmlhbh8KBQJTTB8NZR8EZxQrAAEWCB8BBQZTcnBza2kfCgUCU0gfDWUfBGcUKwABFggfAQUJVWtyYWluc2tpHwoFAlVLHw1lHwRnZGRkZGRkAgsPZBYIAgEPDxYCHwEFGE92ZXJ2aWV3IG9mIGFsdGVybmF0aXZlc2RkAgMPDxYCHwEFCE1hdGVyaWFsZGQCCQ8PFgIfAQUEU2hvd2RkAhEPPCsAJgYADxYCHwlnZAIUKwABFgIfAQUHTG9hZGluZwYPZBAWDGYCAQICAgMCBAIFAgYCBwIIAgkCCgILFgw8KwAMAgAWAh4LR2xvYmFsSW5kZXhmCzwrAAUBABYGHglTb3J0SW5kZXgC/////w8eCkdyb3VwSW5kZXgC/////w8eCVNvcnRPcmRlcgspekRldkV4cHJlc3MuRGF0YS5Db2x1bW5Tb3J0T3JkZXIsIERldkV4cHJlc3MuRGF0YS52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhADwrAAwCABYEHgdDYXB0aW9uBQVUaXRsZR8OAgELPCsABQEAFgYfDwL/////Dx8QAv////8PHxELKwQAPCsADAIAFgQfEgULU3RvY2sgaW4gQ1MfDgICCzwrAAUBABYGHw9mHxAC/////w8fEQsrBAE8KwAMAgAWBB8SBQxQcmljZSBleCBHU1QfDgIDCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFDlByaWNlIHdpdGggR1NUHw4CBAs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB8SBRJUZWNobmljaWFuJ3Mgc3RvY2sfDgIFCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFGkRpc2NvdW50IDUlIChQcmljZSBleCBHU1QpHw4CBgs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB8SBRtEaXNjb3VudCAyMCUgKFByaWNlIGV4IEdTVCkfDgIHCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFHERpc2NvdW50IDUlIChQcmljZSB3aXRoIEdTVCkfDgIICzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEADwrAAwCABYEHxIFHURpc2NvdW50IDIwJSAoUHJpY2Ugd2l0aCBHU1QpHw4CCQs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB8SBRNTdG9jayBpbiBDLlcuIChTTE8pHw4CCgs8KwAFAQAWBh8PAv////8PHxAC/////w8fEQsrBAA8KwAMAgAWBB4KQ29sVmlzaWJsZWgfDgILCzwrAAUBABYGHw8C/////w8fEAL/////Dx8RCysEAA8WDAIBAgECAQIBAgECAQIBAgECAQIBAgECARYBBX9EZXZFeHByZXNzLldlYi5HcmlkVmlld0RhdGFUZXh0Q29sdW1uLCBEZXZFeHByZXNzLldlYi52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhCTwrAAgBBxQrAAIWAh8BBR9QYWdlIHswfSBmcm9tIHsxfSAoezJ9IHJlc3VsdHMpZA0UKwABFgQeCkdyb3VwUGFuZWwFMURyYWcgYSBjb2x1bW4gaGVhZGVyIGhlcmUgdG8gZ3JvdXAgYnkgdGhhdCBjb2x1bW4eDERhdGFFbXB0eVJvdwUSTm8gZGF0YSB0byBkaXNwbGF5GDwrAAcBBRQrAAJkZGQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgQFDWN0bDAwJHNhZ01lbnUFFGN0bDAwJGNiSmV6aWtBcGwkREREBSJjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGltZ0V4Y2VsBSdjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJEFTUHhHcmlkVmlldzGtQUjHnOt0UJdPifc5dQJqX/WDEtk7Lc+a/fNvckV/wg==");
        request.AddParameter("__VIEWSTATEGENERATOR", "597CC0DF");
        request.AddParameter("ctl00$ContentPlaceHolder1$ASPxGridView1", "{&quot;keys&quot;:[],&quot;callbackState&quot;:&quot;BwUHAwIERGF0YQcnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwAHAAcAAgtGb3JtYXRTdGF0ZQcAAgVTdGF0ZQYsAQcMBwACAQcBAgEHAgIBBwMCAQcEAgEHBQIBBwYCAQcHAgEHCAIBBwkCAQcKAgEHCwIABwEHAgcBBwAHAAcABwAHDAcABv//BwEG//8HAgb//wcDBv//BwQG//8HBQb//wcGBv//BwcG//8HCAb//wcJBv//BwoG//8HCwb//wIABQAAAIAJAghtYXRlcmlhbAcACQIAAgADB34AXFN5c3RlbS5TdHJpbmdbXSwgbXNjb3JsaWIsIFZlcnNpb249NC4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5AgABAAAA/////wEAAAAAAAAAEQEAAAAAAAAACwIABwACAQcABwACAAIBBwAHAAcABwAHAAIIUGFnZVNpemUDBzICGlByZXZSZXF1ZXN0VmlzaWJsZVJvd0NvdW50AwcA&quot;,&quot;groupLevelState&quot;:{},&quot;selection&quot;:&quot;&quot;,&quot;toolbar&quot;:null}");
        request.AddParameter("ctl00$ContentPlaceHolder1$btnPrikazi", "Show");
        request.AddParameter("ctl00$ContentPlaceHolder1$tbMat", partRecord.part);
        request.AddParameter("ctl00$cbJezikApl", "English");
        request.AddParameter("ctl00$cbJezikApl$DDD$L", "EN");
        request.AddParameter("ctl00$cbJezikApl$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$cbJezikApl$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$sagMenu", "{&quot;selectedItemIndexPath&quot;:&quot;12i2&quot;,&quot;groupsExpanding&quot;:&quot;1;1;1;0;0;0;1;0;1;1;1;1;1;0;0;0;1;1&quot;}");
        request.AddParameter("ctl00$tbOss", "");
        request.AddParameter("ctl00_cbJezikApl_VI", "EN");
        var response = await client.ExecuteAsync(request);
        string html = response.Content;
        var dataResult = html.Split("</td><td class=\"dxgv\">");
        if (dataResult.Length > 1)
        {
            ////found
            var dataSet = dataResult[3].Split("</td><td class=\"dxgv\" align=\"right\">");

            result.number = dataResult[1].Substring(12);
            result.stock = dataSet[0];
            result.price = dataSet[2];
            result.name = dataResult[2];

            int stock = int.Parse(dataSet[0]);
            int addQty = int.Parse(partRecord.qty);


            if (stock < addQty)
            {
                AddMessage = $"{result.number} x {partRecord.qty} is not in stock";

            }
            else
            {
                Record record = new()
                    {
                        Number = result.number,
                        Quantity = partRecord.qty,
                        Name = result.name,
                        Price = double.Parse(result.price)
                    };
                PartList.Add(record);
            }

        }
        if (dataResult.Length == 1)
        {
            ////wrong result
            AddMessage = "* Part number not exist";
        }

        if (html.Split("Overview of alternatives").Length == 1)
        {
            Preferences.Default.Set("login", false);
            Preferences.Default.Set("user", "");
        }
        await UpdateTotal();
        await Task.CompletedTask;
        spiner = false;
        partRecord = new();
    }



    private async Task UpdateTotal()
    {
        Total = 0;
        foreach(var r in PartList)
        {
            Total += r.Price;
        }
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task Submit()
    {
        bar = true;

        string Name = customerInfo.Name;
        string fullAddress = customerInfo.FullAddtress;
        string Street = "35 Sunmore Cl";
        string PostCode = "3189";
        string State = "Victoria";
        string Suburb = "Heatherton";
        string Phone = "";
        if (customerInfo.Phone != null)
        {
            Phone = customerInfo.Phone;
        }
        if (fullAddress != null)
        {
            Street = fullAddress.Split(",")[0];
            var ExceptStreet = fullAddress.Split(",")[1].Split(" ");
            var AddressCount = ExceptStreet.Length;
            PostCode = ExceptStreet[AddressCount - 1];
            State = ExceptStreet[AddressCount - 2];
            Suburb = String.Empty;
            for (int i = 0; i < AddressCount - 2; i++)
            {
                Suburb += " ";
                Suburb += ExceptStreet[i];
            }
            Suburb = Suburb.Substring(1);
        }
        switch (State)
        {
            case "VIC": State = "Victoria";
                break;
            case "QLD": State = "Queensland";
                break;
            case "NSW": State = "New South Wales";
                break;
            case "SA": State = "South Australia";
                break;
            case "WA": State = "Western Australia";
                break;
            case "ACT": State = "Australian Capital Territory";
                break;
            case "NT": State = "Northern Territory";
                break;
        }



        ///////////Create Order///////////
        var client = new RestClient("https://partners.gorenje.com/sagCC/se_prodaja_rd_au.aspx");
        var request = new RestRequest("https://partners.gorenje.com/sagCC/se_prodaja_rd_au.aspx",Method.Get);
        request.AddHeader("sec-ch-ua", "\"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"108\", \"Google Chrome\";v=\"108\"");
        request.AddHeader("sec-ch-ua-mobile", "?0");
        request.AddHeader("sec-ch-ua-platform", "\"Windows\"");
        request.AddHeader("Upgrade-Insecure-Requests", "1");
        request.AddHeader("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9");
        request.AddHeader("host", "partners.gorenje.com");
        request.AddHeader("cookie", Cookie);
        var response = await client.ExecuteAsync(request);
        string html = response.Content;
        if (html.Split("SPARE PARTS SALE").Length == 1)
        {
            Preferences.Default.Set("login", false);
            Preferences.Default.Set("user", "");
        }
        Bill = html.Split("ctl00_ContentPlaceHolder1_lblZapSt\">")[1].Split("</span>")[0];
        CusMessage = Bill;

        foreach(var r in PartList)
        {
            if (r.Number != "93")
            {
                await AddPart(Bill, r.Number, r.Quantity, Street, State, PostCode, Suburb, Phone);
            }
        }
        foreach (var r in PartList)
        {
            if (r.Number == "93")
            {
                await AddPart(Bill, r.Number, r.Quantity, Street, State, PostCode, Suburb, Phone);
            }
        }



        bar = false;
        View = "Payment";



    }
    private async Task Print()
    {
        var client = new RestClient($"https://partners.gorenje.com/sagCC/se_prodaja_rd_au.aspx?dxrep_fake=&zapst={Bill}");
        var request = new RestRequest($"https://partners.gorenje.com/sagCC/se_prodaja_rd_au.aspx?dxrep_fake=&zapst={Bill}", Method.Post);
        request.AddHeader("sec-ch-ua", "\"Not_A Brand\";v=\"99\", \"Google Chrome\";v=\"109\", \"Chromium\";v=\"109\"");
        request.AddHeader("sec-ch-ua-mobile", "?0");
        request.AddHeader("sec-ch-ua-platform", "\"Windows\"");
        request.AddHeader("Upgrade-Insecure-Requests", "1");
        request.AddHeader("Content-Type", "application/x-www-form-urlencoded");
        request.AddHeader("User-Agent", "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36");
        request.AddHeader("Accept", "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9");
        request.AddHeader("host", "partners.gorenje.com");
        request.AddHeader("Cookie", Cookie);
        request.AddParameter("DXCss", "0_2550,1_68,0_2555,1_210,0_2443,1_209,0_2448,1_207,1_206,1_73,0_2455,0_2459,0_2578");
        request.AddParameter("DXScript", "1_11,1_12,1_252,1_23,1_64,1_13,1_14,1_15,1_35,1_183,1_184,1_21,1_22,1_190,1_17,1_186,1_193,1_41,1_195,1_19,1_213,1_224,1_225,1_212,1_214,1_222,1_211,1_227,1_236,1_238,1_239,1_226,1_231,1_230,1_234,1_240,1_192,1_194,26_15,1_24,1_33,26_13,26_14,26_11");
        request.AddParameter("__EVENTARGUMENT", "saveToDisk=format:pdf;showPrintDialog:true;idx:;");
        request.AddParameter("__EVENTTARGET", "ctl00$ContentPlaceHolder1$ReportViewer1");
        request.AddParameter("__LASTFOCUS", "");
        request.AddParameter("__VIEWSTATE", "/wEPDwULLTE3MjA1NzkwNzcPZBYCZg9kFgICAw9kFggCBQ88KwAJAgAPFgIeDl8hVXNlVmlld1N0YXRlZ2QGD2QQFhJmAgECAgIDAgQCBQIGAgcCCAIJAgoCCwIMAg0CDgIPAhACERYSPCsACwIAFggeBFRleHQFA1NBRx4ETmFtZQUDU0FHHghFeHBhbmRlZGceDlJ1bnRpbWVDcmVhdGVkZwEPZBAWA2YCAQICFgMUKwACFgYfAQUQVXNlcjogUm9zaGFuIExpdR4VQ2xpZW50RW5hYmxlZEludGVybmFsaB8EZ2QUKwACFgYeC05hdmlnYXRlVXJsBQxzcmVkaW5hLmFzcHgfAQUESG9tZR8EZ2QUKwACFgYfBgULbG9nb3V0LmFzcHgfAQUHTG9nIG9mZh8EZ2RkPCsACwIAFggfAQULQ2FsbCBDZW50ZXIfAgUBMh8DZx8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUUY2FsbGNlbnRlcl92bm9zLmFzcHgfAQULRW50ZXIgY2xhaW0fBGdkFCsAAhYGHwYFGGNhbGxjZW50ZXJfcHJlZ2xlZDEuYXNweB8BBRBSZXZpZXcgb2YgY2xhaW1zHwRnZBQrAAIWBh8GBSxzZV9wb3RyZGlfcmVrbGFtYWNpamUuYXNweD9kZWxpdmVyeWluc3RhbGw9MR8BBR5SZXF1ZXN0IGZvciBkZWxpdmVyeSAvIGluc3RhbGwfBGdkZDwrAAsCABYIHwEFDlNlcnZpY2Ugb3JkZXJzHwIFATMfA2cfBGcBD2QQFgVmAgECAgIDAgQWBRQrAAIWBh8GBRNwb3RuaV9wcmVnbGVkMS5hc3B4HwEFHFJldmlldyBjbGllbnRzIGluIHRoZSBiYXNrZXQfBGdkFCsAAhYGHwYFGXNlX3ByZ196YWtsanVjZXZhbmplLmFzcHgfAQUgQ29tcGxldGluZyBvZiBhZ3JlZWQgd29yayBvcmRlcnMfBGdkFCsAAhYGHwYFIHNlX2RuZXZub196YWtsanVjZW5pX25hbG9naS5hc3B4HwEFLURhaWx5IHJldHVybiBkZWxpdmVyeSAvIENsb3NlZCB3b3JraW5nIG9yZGVycx8EZ2QUKwACFgYfBgUcc2VfbmVyYXpwb3JlamVuaV9uYWxvZ2kuYXNweB8BBRlXb3JrIG9yZGVycyBvdXQgb2YgYmFza2V0HwRnZBQrAAIWBh8GBRNwb3RuaV9rcmVpcmFqMS5hc3B4HwEFG01hbnVhbCBhbGxvY2F0aW9uIG9mIG9yZGVycx8EZ2RkPCsACwIAFggfAQUFU2FsZXMfAgUBOR8DZx8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUVc2VfcHJvZGFqYV9yZF9hdS5hc3B4HwEFEFNwYXJlIHBhcnRzIHNhbGUfBGdkFCsAAhYGHwYFFnNlX3Byb2RhamFfcmRfcHJnLmFzcHgfAQUNU2FsZXMgcHJldmlldx8EZ2QUKwACFgYfBgUac2VfYmxhZ2FqbmFfemFrbGp1Y2VrLmFzcHgfAQUWQ29tcGxldGlvbiBvZiB0aGUgc2FsZR8EZ2RkPCsACwIAFggfAQUJQ2FzaCBkZXNrHwIFAjEzHwNoHwRnAQ9kEBYGZgIBAgICAwIEAgUWBhQrAAIWBh8GBRdzZV9ibGFnYWpuYV9zdGFuamUuYXNweB8BBQ1TdGF0ZSBvZiBjYXNoHwRnZBQrAAIWBh8GBRdzZV9ibGFnYWpuYV9rbmppZ2EuYXNweB8BBQlDYXNoIGJvb2sfBGdkFCsAAhYGHwYFGXNlX2JsYWdham5hX3ByZWplbWtpLmFzcHgfAQULQ2FzaCBpbmNvbWUfBGdkFCsAAhYGHwYFGHNlX2JsYWdham5hX2l6ZGF0a2kuYXNweB8BBRFDYXNoIGRpc2J1cnNlbWVudB8EZ2QUKwACFgYfBgUbc2VfYmxhZ2FqbmFfaXpkcHJlX3ByZy5hc3B4HwEFGlJldmlldyBvZiBFeHBlbmNlcy9JbmNvbWVzHwRnZBQrAAIWBh8GBRJzZV9yZXBvcnRfb3NzLmFzcHgfAQUQRGlzcGxheSBvZiBPU1Mncx8EZ2RkPCsACwIAFggfAQULU3VwZXJ2aXNpb24fAgUCMTQfA2gfBGcBD2QQFgZmAgECAgIDAgQCBRYGFCsAAhYGHwYFFnNlX25hZHpvcl9wcm9kYWphLmFzcHgfAQUNU2FsZXMgcHJldmlldx8EZ2QUKwACFgYfBgUVc2VfbmFkem9yX2l6ZHByZS5hc3B4HwEFGlJldmlldyBvZiBFeHBlbmNlcy9JbmNvbWVzHwRnZBQrAAIWBh8GBRVzZV9uYWR6b3Jfa25qaWdhLmFzcHgfAQUJQ2FzaCBib29rHwRnZBQrAAIWBh8GBRVzZV9uYWR6b3Jfc3RhbmplLmFzcHgfAQUNU3RhdGUgb2YgY2FzaB8EZ2QUKwACFgYfBgUXc2VfbmFkem9yX2JsYWdham5hLmFzcHgfAQUGUmVwb3J0HwRnZBQrAAIWBh8GBRZzZV9yZXBvcnRfb3NzLmFzcHg/bj0xHwEFEERpc3BsYXkgb2YgT1NTJ3MfBGdkZDwrAAsCABYIHwEFBVN0b2NrHwIFAjIyHwNoHwRnAQ9kEBYJZgIBAgICAwIEAgUCBgIHAggWCRQrAAIWBh8GBRR6YWxvZ2Ffc2VydmlzZXIuYXNweB8BBRJUZWNobmljaWFuJ3Mgc3RvY2sfBGdkFCsAAhYGHwYFF3ByZWdsZWRfemFvc3Rhbmtvdi5hc3B4HwEFHFJldmlldyBtYXRlcmlhbCByZXNlcnZhdGlvbnMfBGdkFCsAAhYGHwYFFXByZWdsZWR6YWxvZ2Fub3YuYXNweB8BBRZQcmV2aWV3IG9mIHN0b2NrIC0gTkVXHwRnZBQrAAIWBh8GBRhzZV9pemRhamFfbWF0ZXJpYWxhLmFzcHgfAQUYUmV2aWV3IG9mIG1hdGVyaWFsIGlzc3VlHwRnZBQrAAIWBh8GBRlzZV9wcmV2emVtX21hdGVyaWFsYS5hc3B4HwEFHlJldmlldyBvZiBtYXRlcmlhbCB0YWtpbmcgb3Zlch8EZ2QUKwACFgYfBgUZc2VfZ2liYW5qZV9tYXRlcmlhbGEuYXNweB8BBRRNYXRlcmlhbCBmbG93IHJldmlldx8EZ2QUKwACFgYfBgUTcG9wcmF2YV96YWxvZ2UuYXNweB8BBRNDb3JyZWN0aW9uIG9mIFN0b2NrHwRnZBQrAAIWBh8GBRZzZV96YWxvZ2Vfc2FnX3NhcC5hc3B4HwEFG1N0b2NrIGNvbXBhcmlzb24gIFNBRyAtIFNBUB8EZ2QUKwACFgYfBgULemFsb2dhLmFzcHgfAQUFU3RvY2sfBGdkZDwrAAsCABYIHwEFElJldHVybmluZyBtYXRlcmlhbB8CBQIyMx8DaB8EZwEPZBAWAmYCARYCFCsAAhYGHwYFEXZyYWNpbG9fdm5vcy5hc3B4HwEFD1JldHVybiBtYXRlcmlhbB8EZ2QUKwACFgYfBgUednJhY2lsb19wcmVnbGVkX3BvdHJkaXRldi5hc3B4HwEFEVJldHVybmluZ3MgcmV2aWV3HwRnZGQ8KwALAgAWCB8BBQlJbnZlbnRvcnkfAgUCMjQfA2gfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRNpbnZlbnR1cmFfdm5vcy5hc3B4HwEFCUludmVudG9yeR8EZ2QUKwACFgYfBgUTcHJpbWVyamF2YV9pbnYuYXNweB8BBRhJbnZlbnRvcnkgUmV2aWV3L0NvbXBhcmUfBGdkZDwrAAsCABYIHwEFBk9yZGVycx8CBQIyNR8DaB8EZwEPZBAWAmYCARYCFCsAAhYGHwYFFHByZWdsZWRfbmFyb2NpbC5hc3B4HwEFHlJldmlldyBvcmRlcnMsIG1hbnVhbCBvcmRlcmluZx8EZ2QUKwACFgYfBgUPc2VfcHJldnplbS5hc3B4HwEFIUNvbmZpcm1hdGlvbiBvZiByZWNpZXZlZCBtYXRlcmlhbB8EZ2RkPCsACwIAFggfAQUEU2V0cx8CBQIyNh8DaB8EZwEPZBAWBmYCAQICAgMCBAIFFgYUKwACFgYfBgUbcHJlZ2xlZF9zZXRfcGxhbmlyYW5qZS5hc3B4HwEFGlJldmlldyBvZiBzcGFyZSBwYXJ0cyBzZXRzHwRnZBQrAAIWBh8GBRdzZV9zZXRpX3NlcnZpc2VyamkuYXNweB8BBRxUcmlnZ2VyIHBvaW50cyAtIFRlY2huaWNpYW5zHwRnZBQrAAIWBh8GBRRzZV9zZXRpX3RlaG5pa2EuYXNweB8BBSJUcmlnZ2VyIHBvaW50cyAtIFNlcnZpY2UgdGVjaG5pcXVlHwRnZBQrAAIWBh8GBRVzZV9zZXRpX3NldHRpbmdzLmFzcHgfAQUhVXBkYXRpbmcgb3JkZXJzIHNjaGVkdWxlIHNldHRpbmdzHwRnZBQrAAIWBh8GBRtzZV9zZXRpX29idmVzY2FuamVfbW5nLmFzcHgfAQUiSm9iIG9yZGVyIGltcGxlbWVudGF0aW9uIGluZm9ybWluZx8EZ2QUKwACFgYfBgUYc2Vfc2VydmlzZXJfY2FyX2Jpbi5hc3B4HwEFGlZlaGljbGVzIHN0b3JhZ2UgbG9jYXRpb25zHwRnZGQ8KwALAgAWCB8BBRdTdG9jayBUcmFuc2ZlciBSZWNlaXB0cx8CBQIyNx8DaB8EZwEPZBAWAmYCARYCFCsAAhYGHwYFEW1lZF9za2xfdm5vcy5hc3B4HwEFHUNyZWF0ZSBTdG9jayBUcmFuc2ZlciBSZWNlaXB0HwRnZBQrAAIWBh8GBRRtZWRfc2tsX3ByZWdsZWQuYXNweB8BBR5TdG9jayBUcmFuc2ZlciByZWNlaXB0cyByZXZpZXcfBGdkZDwrAAsCABYIHwEFFlNwYXJlIHBhcnRzIHByaWNlIGxpc3QfAgUCMjgfA2gfBGcBD2QQFgNmAgECAhYDFCsAAhYGHwYFDXNlX2NlbmlrLmFzcHgfAQUWU3BhcmUgcGFydHMgcHJpY2UgbGlzdB8EZ2QUKwACFgYfBgUac2VfcHJlZ2xlZF9hbHRlcm5hdGl2LmFzcHgfAQUYT3ZlcnZpZXcgb2YgYWx0ZXJuYXRpdmVzHwRnZBQrAAIWBh8GBR5zZV9wcmVnbGVkX2FsdGVybmF0aXZfbm92LmFzcHgfAQUgT3ZlcnZpZXcgb2YgYWx0ZXJuYXRpdmVzIC0gU3RvY2sfBGdkZDwrAAsCABYIHwEFDkFkbWluaXN0cmF0aW9uHwIFAjMyHwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFFGNoYW5nZV9wYXNzd29yZC5hc3B4HwEFD0NoYW5nZSBwYXNzd29yZB8EZ2RkPCsACwIAFggfAQUHUmVwb3J0cx8CBQIzMx8DaB8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUhc2VfcmVwb3J0X3pha2xqdWNlbmlfbmFsb2dpMS5hc3B4HwEFF1JldmlldyBvZiBjbG9zZWQgb3JkZXJzHwRnZBQrAAIWBh8GBRRzZV9vc3NfbmFyb2NpbGEuYXNweB8BBSNSZXZpZXcgc3RvY2tzIG9mIG1hdGVyaWFscyBmcm9tIE9TUx8EZ2QUKwACFgYfBgUgc2VfcmVwb3J0X2NsYWltc19mb3JfZGVhbGVyLmFzcHgfAQUYQ2xhaW1zIGV4cG9ydCBmb3IgZGVhbGVyHwRnZGQ8KwALAgAWCB8BBQRIZWxwHwIFAjM1HwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFCnBvbW9jLmFzcHgfAQUESGVscB8EZ2RkPCsACwIAFggfAQUDR0FTHwIFAjM4HwNnHwRnAQ9kEBYBZhYBFCsAAhYGHwYFD2dhc19yZXBvcnQuYXNweB8BBQNHQVMfBGdkZDwrAAsCABYIHwEFFVNlcnZpY2UgZG9jdW1lbnRhdGlvbh8CBQIzOR8DZx8EZwEPZBAWAWYWARQrAAIWCB8GBSFodHRwczovL3BhcnRuZXJzLmdvcmVuamUuY29tL2dzZC8fAQUVU2VydmljZSBkb2N1bWVudGF0aW9uHgZUYXJnZXQFBl9ibGFuax8EZ2RkZGQCBw8PFgIfAQUITGFuZ3VhZ2VkZAIJDxQrAAYPFgQeD0RhdGFTb3VyY2VCb3VuZGceBVZhbHVlBQJFTmRkZDwrAA8BDhQrAAYWAh4nRW5hYmxlU3luY2hyb25pemF0aW9uT25QZXJmb3JtQ2FsbGJhY2sgaGRkDxYCHgpJc1NhdmVkQWxsZw8UKwASFCsAARYIHwEFCUJvbGdhcmlhbh8JBQJCRx4ISW1hZ2VVcmxlHwRnFCsAARYIHwEFCENoaW5lZXNlHwkFAlpIHwxlHwRnFCsAARYIHwEFBUN6ZWNoHwkFAkNTHwxlHwRnFCsAARYIHwEFBUR1dGNoHwkFAk5MHwxlHwRnFCsAARYIHwEFB0VuZ2xpc2gfCQUCRU4fDGUfBGcUKwABFggfAQUGRnJlbmNoHwkFAkZSHwxlHwRnFCsAARYIHwEFBkdlcm1hbh8JBQJERR8MZR8EZxQrAAEWCB8BBQhIcnZhdHNraR8JBQJIUh8MZR8EZxQrAAEWCB8BBQlIdW5nYXJpYW4fCQUCSFUfDGUfBGcUKwABFggfAQUHSXRhbGlhbh8JBQJJVB8MZR8EZxQrAAEWCB8BBQpNYWtlZG9uc2tpHwkFAloxHwxlHwRnFCsAARYIHwEFBlBvbGlzaB8JBQJQTB8MZR8EZxQrAAEWCB8BBQhSb21hbmlhbh8JBQJSTx8MZR8EZxQrAAEWCB8BBQdSdXNzaWFuHwkFAlJVHwxlHwRnFCsAARYIHwEFCFNsb3Zha2lhHwkFAlNLHwxlHwRnFCsAARYIHwEFCVNsb3Zlbmlhbh8JBQJTTB8MZR8EZxQrAAEWCB8BBQZTcnBza2kfCQUCU0gfDGUfBGcUKwABFggfAQUJVWtyYWluc2tpHwkFAlVLHwxlHwRnZGRkZGRkAgsPZBYCAgEPZBYCZg9kFggCAw8PFgIfAQUBMGRkAgcPFgIeB1Zpc2libGVoFmQCAQ8PFgIfAQUQU1BBUkUgUEFSVFMgU0FMRWRkAgMPDxYCHwEFCUJpbGwgTm8uOmRkAgUPDxYCHwEFCjAwMDA3OTgzNTVkZAIHDw8WAh8BBQhDdXN0b21lcmRkAgkPFCsABg8WAh8JZGRkZDwrAA8BDhQrAAYWAh8KaGRkZA9kEBYGZgIBAgICAwIEAgUWBhQrAAEWAh4PQ29sVmlzaWJsZUluZGV4ZhQrAAEWBB4HQ2FwdGlvbgUFVGl0bGUfDgIBFCsAARYEHw8FBlN0cmVldB8OAgIUKwABFgQfDwUJUG9zdCBjb2RlHw4CAxQrAAEWBB8PBQRDaXR5Hw4CBBQrAAEWBB8PBQVQaG9uZR8OAgVkZGRkZAINDxQrAAYPFgIfCWRkZGQ8KwAPAQ48KwAGAQAWAh8KaGRkZAIPDw8WAh8BBRBUeXBlIG9mIGN1c3RvbWVyZGQCEw8PFgQfAQUBMR4IUmVhZE9ubHloZGQCFw8PFgIfAQUQTmFtZSBhbmQgU3VybmFtZWRkAhkPDxYEHxBoHwEFBXNhZHNjZGQCHQ8PFgIfAQUGU3RyZWV0ZGQCHw8PFgIfEGhkZAIhDw8WAh8BBQlQb3N0IGNvZGVkZAIjDw8WBB8BBQQzMTY4HxBoZGQCJQ8PFgIfAQUEQ2l0eWRkAicPDxYEHxBoHwEFB0NsYXl0b25kZAIrDw8WAh8BBQhWaWN0b3JpYWRkAi0PDxYCHwEFElRlbGVwaG9uZSBudW1iZXIgMWRkAi8PDxYEHxBoHwEFBDEyMzRkZAIxDw8WAh8BBQlSZWZlcmVuY2VkZAIzDw8WBB8BZR8QaGRkAjcPFCsABg8WBh8IZx8JBQQwODAwHwVnZGRkPCsADwEOFCsABhYCHwpoZGQPFgIfC2cPFCsAMRQrAAEWCB8BBQQwODAwHwkFBDA4MDAfDGUfBGcUKwABFggfAQUCQTEfCQUCQTEfDGUfBGcUKwABFggfAQUDQTE0HwkFA0ExNB8MZR8EZxQrAAEWCB8BBQNBMTkfCQUDQTE5HwxlHwRnFCsAARYIHwEFA0EyMR8JBQNBMjEfDGUfBGcUKwABFggfAQUDQTI2HwkFA0EyNh8MZR8EZxQrAAEWCB8BBQNBMjgfCQUDQTI4HwxlHwRnFCsAARYIHwEFA0EyOR8JBQNBMjkfDGUfBGcUKwABFggfAQUCQTMfCQUCQTMfDGUfBGcUKwABFggfAQUDQTMxHwkFA0EzMR8MZR8EZxQrAAEWCB8BBQNBMzIfCQUDQTMyHwxlHwRnFCsAARYIHwEFAkE0HwkFAkE0HwxlHwRnFCsAARYIHwEFAkE1HwkFAkE1HwxlHwRnFCsAARYIHwEFAkE2HwkFAkE2HwxlHwRnFCsAARYIHwEFAkE3HwkFAkE3HwxlHwRnFCsAARYIHwEFAkE5HwkFAkE5HwxlHwRnFCsAARYIHwEFA0QxMB8JBQNEMTAfDGUfBGcUKwABFggfAQUDRDExHwkFA0QxMR8MZR8EZxQrAAEWCB8BBQNEMTQfCQUDRDE0HwxlHwRnFCsAARYIHwEFA0QxNR8JBQNEMTUfDGUfBGcUKwABFggfAQUDRDE5HwkFA0QxOR8MZR8EZxQrAAEWCB8BBQJEMh8JBQJEMh8MZR8EZxQrAAEWCB8BBQNEMjIfCQUDRDIyHwxlHwRnFCsAARYIHwEFA0QyNB8JBQNEMjQfDGUfBGcUKwABFggfAQUDRDI2HwkFA0QyNh8MZR8EZxQrAAEWCB8BBQJEOB8JBQJEOB8MZR8EZxQrAAEWCB8BBQJEOR8JBQJEOR8MZR8EZxQrAAEWCB8BBQNGMTAfCQUDRjEwHwxlHwRnFCsAARYIHwEFA0YxMR8JBQNGMTEfDGUfBGcUKwABFggfAQUDRjEyHwkFA0YxMh8MZR8EZxQrAAEWCB8BBQNGMTYfCQUDRjE2HwxlHwRnFCsAARYIHwEFA0YxNx8JBQNGMTcfDGUfBGcUKwABFggfAQUDRjE4HwkFA0YxOB8MZR8EZxQrAAEWCB8BBQJGMx8JBQJGMx8MZR8EZxQrAAEWCB8BBQJGNR8JBQJGNR8MZR8EZxQrAAEWCB8BBQJGNh8JBQJGNh8MZR8EZxQrAAEWCB8BBQJGNx8JBQJGNx8MZR8EZxQrAAEWCB8BBQJJMR8JBQJJMR8MZR8EZxQrAAEWCB8BBQJJMx8JBQJJMx8MZR8EZxQrAAEWCB8BBQJJNB8JBQJJNB8MZR8EZxQrAAEWCB8BBQJJNh8JBQJJNh8MZR8EZxQrAAEWCB8BBQJJNx8JBQJJNx8MZR8EZxQrAAEWCB8BBQJJOR8JBQJJOR8MZR8EZxQrAAEWCB8BBQJLMR8JBQJLMR8MZR8EZxQrAAEWCB8BBQJLMx8JBQJLMx8MZR8EZxQrAAEWCB8BBQJLOR8JBQJLOR8MZR8EZxQrAAEWCB8BBQJXMR8JBQJXMR8MZR8EZxQrAAEWCB8BBQRXTlNXHwkFBFdOU1cfDGUfBGcUKwABFggfAQUDV1dBHwkFA1dXQR8MZR8EZ2RkZGRkZAI5Dw8WAh8BBRZTZWxsIOKAi+KAi29uIGRlbGl2ZXJ5ZGQCOw8QDxYCHgdDaGVja2VkZ2RkZGQCPw8QDxYCHxFoZGRkZAJBDw8WAh8BBRFNZXRob2Qgb2YgcGF5bWVudGRkAkMPEA8WBh4LXyFEYXRhQm91bmRnHglCYWNrQ29sb3IKpAEeBF8hU0ICCGQQFQsAC01QMDEgLSBDQVNIDU1QMDIgLSBDSEVRVUURTVAwOCAtIE1BU1RFUkNBUkQLTVAwOSAtIFZJU0EXTVAxMCAtIEFNRVJJQ0FOIEVYUFJFU1MTTVAxNyAtIERJUkVDVCBERUJJVBJNUDU1IC0gQ1JFRElUIENBUkQUTVBYWCAtIE1JWEVEIFBBWU1FTlQVTVBYWSAtIEZSRUUgT0YgQ0hBUkdFFU1QWVkgLSBQQVkgQlkgSU5WT0lDRRULBE1QMTUETVAwMQRNUDAyBE1QMDgETVAwOQRNUDEwBE1QMTcETVA1NQRNUFhYBE1QWFkETVBZWRQrAwtnZ2dnZ2dnZ2dnZxYBAgdkAkUPDxYCHwEFC0NoZXF1ZSBOby46ZGQCRg8PFgIfAQUPVHJhbnNhY3Rpb24gSUQ6ZGQCRw8PFgQfEGgfDWdkZAJIDw8WBB8BZR8QaGRkAkoPDxYEHwFlHxBoZGQCSw8PZA8QFgJmAgEWAhYCHg5QYXJhbWV0ZXJWYWx1ZQUDMDM2FgIfFQUFNTIxMjAWAgIFAgVkZAJMDw9kDxAWAmYCARYCFgIfFQUDMDM2FgIfFQUFNTIxMjAWAgIFAgVkZAJQDw8WAh8BBQREYXRlZGQCUg8PFgIfAQUJMjcuMS4yMDIzZGQCVA8PFgIfAQUEVGltZWRkAlYPDxYCHwEFCDE3OjI0OjUzZGQCWA8PFgIfAQUHU0FQIE5vLmRkAloPDxYCHwFlZGQCXg88KwARAwAPFgQfEmceC18hSXRlbUNvdW50AgJkARAWDWYCAQICAgMCBAIFAgYCBwIIAgkCCgILAgwWDTwrAAUBABYCHgpIZWFkZXJUZXh0BQhQb3NpdGlvbjwrAAUBABYCHxcFBVRpdGxlPCsABQEAFgIfFwUEQ29kZTwrAAUBABYCHxcFBFVuaXQ8KwAFAQAWAh8XBQxQcmljZSBleCBHU1Q8KwAFAQAWAh8XBQhEaXNjb3VudDwrAAUBABYCHxcFE1ByaWNlIHdpdGggZGlzY291bnQ8KwAFAQAWAh8XBQhRdWFudGl0eTwrAAUBABYCHxcFDlN1bSB3aXRob3QgR1NUPCsABQEAFgIfFwUFJSBHU1Q8KwAFAQAWAh8XBQNHU1Q8KwAFAQAWAh8XBQxTdW0gd2l0aCBHU1Q8KwAFAQAWAh8NZxYNZmZmZmYCBmZmZmZmZgIBDBQrAAAWAmYPZBYIZg9kFhpmDw8WAh8BBQhQb3NpdGlvbmRkAgEPDxYCHwEFBVRpdGxlZGQCAg8PFgIfAQUEQ29kZWRkAgMPDxYCHwEFBFVuaXRkZAIEDw8WAh8BBQxQcmljZSBleCBHU1RkZAIFDw8WAh8BBQhEaXNjb3VudGRkAgYPDxYCHwEFE1ByaWNlIHdpdGggZGlzY291bnRkZAIHDw8WAh8BBQhRdWFudGl0eWRkAggPDxYCHwEFDlN1bSB3aXRob3QgR1NUZGQCCQ8PFgIfAQUFJSBHU1RkZAIKDw8WAh8BBQNHU1RkZAILDw8WAh8BBQxTdW0gd2l0aCBHU1RkZAIMDw8WAh8BZWRkAgEPZBYYZg8PFgIfAQUCMTBkZAIBDw8WAh8BBRtUVUIgU0hPQ0sgQUJTT1JCRVIgS0lUIFdNNzVkZAICDw8WAh8BBQY4MDUwMDJkZAIDDw8WAh8BBQNLT1NkZAIEDw8WAh8BBQYxNTAuMDBkZAIFD2QWAgIBDzwrAAYBAA8WBB8JKClbU3lzdGVtLkRlY2ltYWwsIG1zY29ybGliLCBWZXJzaW9uPTQuMC4wLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjc3YTVjNTYxOTM0ZTA4OQEwHwhnZGQCBg8PFgIfAQUGMTUwLjAwZGQCBw8PFgIfAQUBMWRkAggPDxYCHwEFBjE1MC4wMGRkAgkPDxYCHwEFBjEwLjAwJWRkAgoPDxYCHwEFBTE1LjAwZGQCCw8PFgIfAQUGMTY1LjAwZGQCAg9kFhhmDw8WAh8BBQIyMGRkAgEPDxYCHwEFCVBBQ0tJTkcgMWRkAgIPDxYCHwEFAjkzZGQCAw8PFgIfAQUDS09TZGQCBA8PFgIfAQUFMjIuMDBkZAIFD2QWAgIBDzwrAAYBAA8WBB8JKCsEATAfCGdkZAIGDw8WAh8BBQUyMi4wMGRkAgcPDxYCHwEFATFkZAIIDw8WAh8BBQUyMi4wMGRkAgkPDxYCHwEFBjEwLjAwJWRkAgoPDxYCHwEFBDIuMjBkZAILDw8WAh8BBQUyNC4yMGRkAgMPDxYEHg9Ib3Jpem9udGFsQWxpZ24LKilTeXN0ZW0uV2ViLlVJLldlYkNvbnRyb2xzLkhvcml6b250YWxBbGlnbgMfFAKAgARkFhxmDw8WBh8BZR4IQ3NzQ2xhc3MFCFRleHRCb3gxHxQCAmRkAgEPDxYEHxkFCFRleHRCb3gxHxQCAmRkAgIPDxYEHxkFCFRleHRCb3gxHxQCAmRkAgMPDxYEHxkFCFRleHRCb3gxHxQCAmRkAgQPDxYEHxkFCFRleHRCb3gxHxQCAmRkAgUPDxYEHxkFCFRleHRCb3gxHxQCAmRkAgYPDxYEHxkFCFRleHRCb3gxHxQCAmRkAgcPDxYGHwEFCDxiPjI8L2I+HxkFCFRleHRCb3gzHxQCAmRkAggPDxYGHwEFDTxiPjE3Mi4wMDwvYj4fGQUIVGV4dEJveDMfFAICZGQCCQ8PFgQfGQUIVGV4dEJveDEfFAICZGQCCg8PFgYfAQUMPGI+MTcuMjA8L2I+HxkFCFRleHRCb3gzHxQCAmRkAgsPDxYGHwEFDTxiPjE4OS4yMDwvYj4fGQUIVGV4dEJveDMfFAICZGQCDA8PFgQfGQUIVGV4dEJveDEfFAICZGQCDQ8PFgQfGQUIVGV4dEJveDEfFAICZGQCYA8PFgIfAQUFVG90YWxkZAJiDw8WAh8BBQYxODkuMDBkZAJkD2QWFgIBDw8WAh8BBQs8Yj5Db2RlPC9iPmRkAgMPDxYCHwEFDzxiPlF1YW50aXR5PC9iPmRkAggPFCsABg8WAh8JZGRkZDwrAA8BDhQrAAYWAh8KaGRkZA9kEBYGZgIBAgICAwIEAgUWBhQrAAEWAh8OZhQrAAEWBB8PBQVUaXRsZR8OAgEUKwABFgIfDgICFCsAARYCHw4CAxQrAAEWBB8PBQRUeXBlHw4CBBQrAAEWAh4KQ29sVmlzaWJsZWhkZGRkZAIKDw8WAh8BBQExZGQCDA8PFgIfAQUPQWRkIHRvIGEgYmFza2V0ZGQCEg8PFgIfAQUIVGl0bGU6ICBkZAIWDw8WAh8BBQhTdG9jazogIGRkAhoPDxYCHwEFD1ByaWNlIGV4IEdTVDogIGRkAh4PDxYCHwEFDSh3aXRob3V0IEdTVClkZAIgDw8WAh8BBQhDb21tZW50OmRkAiIPDxYEHwFlHxBoFgIeCm1heF9sZW5ndGgFAzI1NWQCZg9kFhYCAQ8PFgIfAQUFQ2FzaDpkZAIDDw8WBB8BBQQwLjAwHxBoZGQCBQ8PFgIfAQUFQ2FyZDpkZAIHDw8WBB8BBQQwLjAwHxBoZGQCCQ8PFgIfAQUPVHJhbnNhY3Rpb24gSUQ6ZGQCCw8PFgQfAWUfEGhkZAINDxBkZBYAZAIPDw8WAh8BBQdDaGVxdWU6ZGQCEQ8PFgQfAQUEMC4wMB8QaGRkAhMPDxYCHwEFC0NoZXF1ZSBOby46ZGQCFQ8PFgQfAWUfEGhkZAJoDw8WBB8BBQ9EZWxldGUgdGhlIGJpbGwfDWcWAh4Hb25jbGljawVPaWYoY29uZmlybSgiRG8geW91IHdhbnQgdG8gZGVsZXRlIGEgQmlsbD8iKSkge3JldHVybiB0cnVlO30gZWxzZXtyZXR1cm4gZmFsc2U7fWQCag8PFgIfAQUNU2F2ZSB0aGUgYmlsbGRkAmwPDxYEHwEFDUJpbGwgcHJpbnRpbmcfDWdkZAJuDw8WBB8BBQtTZW5kIHRvIFNBUB8NaBYCHxwFX2lmKGNvbmZpcm0oIkRvIHlvdSB3YW50IHRvIHNlbmQgYSBiaWxsIHRvIFNBUD8iKSkge3JldHVybiBkaXNhYmxlU3VibWl0KCk7fSBlbHNle3JldHVybiBmYWxzZTt9ZAJwDw8WBB8BBQtDYW5jZWxhdGlvbh8NaBYCHxwFWmlmKGNvbmZpcm0oIkRvIHlvdSB3YW50IHRvIGNhbmNlbCBhIEJpbGw/IikpIHtyZXR1cm4gZGlzYWJsZVN1Ym1pdCgpO30gZWxzZXtyZXR1cm4gZmFsc2U7fWQCCQ8WAh8NZxYKAgEPDxYCHwEFD0NhbmNlbCBwcmludGluZ2RkAgMPDxYEHwEFFkJpbGwgKGFjY291bnQpIGJhbGFuY2UfDWcWAh8cBaMBaWYoY29uZmlybSgiRG8geW91IHdhbnQgdG8gZmluYWxseSBjb21wbGV0ZSB0aGUgYmlsbD9cblN1YnNlcXVlbnQgY29ycmVjdGlvbiBvZiB0aGUgYWNjb3VudCBjYW4gbm8gbG9uZ2VyIGJlIGRvbmUhIikpIHtyZXR1cm4gZGlzYWJsZVN1Ym1pdCgpO30gZWxzZXtyZXR1cm4gZmFsc2U7fWQCBQ8PFgIfAQURTWV0aG9kIG9mIHBheW1lbnRkZAIHDw8WAh8BBQRNUDU1ZGQCCQ88KwAJAQQUKwACZGRkAg0PPCsACQIADxYCHwBnZAY8KwATAQAWDB4GUGlubmVkaB4OU2hvd09uUGFnZUxvYWRoHgNUb3BmHgRMZWZ0Zh4JQ29sbGFwc2VkaB4JTWF4aW1pemVkaBYCZg9kFgJmD2QWAmYPZBYCZg9kFgICAQ9kFgJmD2QWAmYPZBYCAgEPZBYCAgEPPCsAJgIGD2QQFgVmAgECAgIDAgQWBTwrAAwCABYEHw8FBERhdGUeC0dsb2JhbEluZGV4Zgs8KwAFAQAWBh4JU29ydEluZGV4Av////8PHgpHcm91cEluZGV4Av////8PHglTb3J0T3JkZXILKXpEZXZFeHByZXNzLkRhdGEuQ29sdW1uU29ydE9yZGVyLCBEZXZFeHByZXNzLkRhdGEudjIxLjIsIFZlcnNpb249MjEuMi4zLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjg4ZDE3NTRkNzAwZTQ5YQA8KwAMAgAWBB8PBQ5Jc3N1ZS90YWtlb3Zlch8jAgELPCsABAEAFgYfJAL/////Dx8lAv////8PHyYLKwYAPCsADAIAFgQfDwUNTWF0ZXJpYWwgZmxvdx8jAgILPCsABAEAFgYfJAL/////Dx8lAv////8PHyYLKwYAPCsADAIAFgQfDwUFU3RvY2sfIwIDCzwrAAQBABYGHyQC/////w8fJQL/////Dx8mCysGADwrAAwCABYEHw8FCVdhcmVob3VzZR8jAgQLPCsABAEAFgYfJAL/////Dx8lAv////8PHyYLKwYADxYFAgECAgICAgICAhYCBX9EZXZFeHByZXNzLldlYi5HcmlkVmlld0RhdGFEYXRlQ29sdW1uLCBEZXZFeHByZXNzLldlYi52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhBXtEZXZFeHByZXNzLldlYi5HcmlkVmlld0RhdGFDb2x1bW4sIERldkV4cHJlc3MuV2ViLnYyMS4yLCBWZXJzaW9uPTIxLjIuMy4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPWI4OGQxNzU0ZDcwMGU0OWEYPCsABwEFFCsAAmRkZBgCBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WCAUNY3RsMDAkc2FnTWVudQUUY3RsMDAkY2JKZXppa0FwbCREREQFLWN0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkUmVwb3J0VG9vbGJhcjEkTWVudQVDY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRSZXBvcnRUb29sYmFyMSRNZW51JElUQ05UNiRQYWdlTnVtYmVyJERERAVEY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRSZXBvcnRUb29sYmFyMSRNZW51JElUQ05UMTMkU2F2ZUZvcm1hdCREREQFIGN0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkcHBNRDA0BSdjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJHBwTUQwNCRndk1EMDQFO2N0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkcHBNRDA0JGd2TUQwNCRjdGwwMCREWEVkaXRvcjAkREREBSNjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJEdyaWRWaWV3MQ88KwAMAQgCAWRZ8S49+ghbIHQIsKSvacpBvnZzfT/9sRl/TaIPDCkVDQ==");
        request.AddParameter("__VIEWSTATEGENERATOR", "C75E4AF9");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu", "{&quot;selectedItemIndexPath&quot;:&quot;&quot;,&quot;checkedState&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT13$SaveFormat", "Pdf");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT13$SaveFormat$DDD$L", "pdf");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT13$SaveFormat$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT6$PageNumber", "1");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT6$PageNumber$DDD$L", "1");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT6$PageNumber$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT6$PageNumber$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportToolbar1$Menu$ITCNT8$PageCount", "1");
        request.AddParameter("ctl00$ContentPlaceHolder1$ReportViewer1", "{&quot;drillDown&quot;:{},&quot;parameters&quot;:{},&quot;cacheKey&quot;:&quot;&quot;,&quot;currentPageIndex&quot;:0}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ppMD04$gvMD04", "{&quot;keys&quot;:[],&quot;groupLevelState&quot;:{},&quot;callbackState&quot;:&quot;BwQHAwIERGF0YQcnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwAHAAcAAgtGb3JtYXRTdGF0ZQcAAgVTdGF0ZQffBwUHAAIBBwECAAcCAgEHAwIBBwQCAQcABwAHAAcABwUHAAb//wcBBv//BwIG//8HAwb//wcEBv//AgAFAAAAgAkCAAcACQIAAgADB34AXFN5c3RlbS5TdHJpbmdbXSwgbXNjb3JsaWIsIFZlcnNpb249NC4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5AgABAAAA/////wEAAAAAAAAAEQEAAAAAAAAACwIABwACAQcABwACAAIBBwAHAAcABwAHAAIaUHJldlJlcXVlc3RWaXNpYmxlUm93Q291bnQDBwA=&quot;,&quot;scrollState&quot;:null,&quot;selection&quot;:&quot;&quot;,&quot;toolbar&quot;:null}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ppMD04State", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$cbJezikApl", "English");
        request.AddParameter("ctl00$cbJezikApl$DDD$L", "EN");
        request.AddParameter("ctl00$cbJezikApl$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$cbJezikApl$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$sagMenu", "{&quot;selectedItemIndexPath&quot;:&quot;&quot;,&quot;groupsExpanding&quot;:&quot;1;1;1;1;0;0;0;0;0;0;0;0;0;0;0;0;1;1&quot;}");
        request.AddParameter("ctl00$tbOss", "");
        request.AddParameter("ctl00_ContentPlaceHolder1_ReportToolbar1_Menu_ITCNT13_SaveFormat_VI", "pdf");
        request.AddParameter("ctl00_ContentPlaceHolder1_ReportToolbar1_Menu_ITCNT6_PageNumber_VI", "1");
        request.AddParameter("ctl00_cbJezikApl_VI", "EN");
        request.AddParameter("Cookie", "time_zone_offset=660; time_zone_has_dst=1; time_zone_is_dst=1; time_zone_base_offset=600; ASP.NET_SessionId=rsamsrcx1ynuvx4ns4npodlw; country_code=036; .sagAuth=605E2017A1448BCA8BF91AFD94FF59B05A58543734C6489243035467F60CE5FBC874674FD855C23EEC9D39BA9D1C99458BF43675D466F6DDFB3D518BFA8972CEEDCFA473C587A2C780B22930E14C6DFB3DFAF99E4368AC6079D0F40C4B65A89888CB1F86FE6D55830727EDFCCCB6FB7609EBD6E081F14550AD422722DBA7DECC53B7A2F99F3D96A1601A1F8FBA722D63; ai_user=rd4XS|2023-01-27T05:32:36.381Z; SAGMenu=1;1;1;1;0;0;0;0;0;0;0;0;0;0;0;0;1;1; ai_session=x1LiE|1674800829759|1674800852635.3");
        var response =await client.ExecuteAsync(request);

        if (DeviceInfo.Platform == DevicePlatform.WinUI)
        {
            string DocumentsPath = Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments);
            File.WriteAllBytes(DocumentsPath + $"//{Bill}.pdf", response.RawBytes);
            DocumentsPath = Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments);
            PdfDocument doc = new PdfDocument(DocumentsPath + $"//{Bill}.pdf");
            doc.Print();
            doc.Dispose();
        }
        await Task.CompletedTask;
    }

    public async Task AddPart(string Bill, string Number, string Quantity, string Street, string State, string PostCode, string Suburb,string Phone)
    {
        var client = new RestClient($"https://partners.gorenje.com/sagCC/se_prodaja_rd_au.aspx?zapst={Bill}");
        var request = new RestRequest($"https://partners.gorenje.com/sagCC/se_prodaja_rd_au.aspx?zapst={Bill}", Method.Post);
        request.AddHeader("sec-ch-ua", "\"Not_A Brand\";v=\"99\", \"Google Chrome\";v=\"109\", \"Chromium\";v=\"109\"");
        request.AddHeader("Request-Context", "appId=cid-v1:78046486-a1d6-4c80-91bb-9589c5fa3786");
        request.AddHeader("sec-ch-ua-mobile", "?0");
        request.AddHeader("User-Agent", "\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36\"");
        request.AddHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        request.AddHeader("Cache-Control", "no-cache");
        request.AddHeader("X-Requested-With", "XMLHttpRequest");
        request.AddHeader("X-MicrosoftAjax", "Delta=true");
        request.AddHeader("Request-Id", "|aahrl.gDhff");
        request.AddHeader("sec-ch-ua-platform", "\"Windows\"");
        request.AddHeader("Accept", "*/*");
        request.AddHeader("host", "partners.gorenje.com");
        request.AddHeader("Cookie", Cookie);
        request.AddParameter("DXCss", "0_2550,1_68,0_2555,1_210,0_2443,1_209,0_2448,1_207,1_206,1_73,0_2455,0_2459");
        request.AddParameter("DXScript", "1_11,1_12,1_252,1_23,1_64,1_13,1_14,1_15,1_35,1_183,1_184,1_21,1_22,1_190,1_17,1_186,1_193,1_41,1_195,1_19,1_213,1_224,1_225,1_212,1_214,1_222,1_211,1_227,1_236,1_238,1_239,1_226,1_231,1_230,1_234,1_240,1_192,1_194");
        request.AddParameter("__ASYNCPOST", "true");
        request.AddParameter("__EVENTARGUMENT", "");
        request.AddParameter("__EVENTTARGET", "");
        request.AddParameter("__LASTFOCUS", "");
        request.AddParameter("__VIEWSTATE", "/wEPDwULLTE3MjA1NzkwNzcPZBYCZg9kFgICAw9kFggCBQ88KwAJAgAPFgIeDl8hVXNlVmlld1N0YXRlZ2QGD2QQFhJmAgECAgIDAgQCBQIGAgcCCAIJAgoCCwIMAg0CDgIPAhACERYSPCsACwIAFggeBFRleHQFA1NBRx4ETmFtZQUDU0FHHghFeHBhbmRlZGceDlJ1bnRpbWVDcmVhdGVkZwEPZBAWA2YCAQICFgMUKwACFgYfAQUQVXNlcjogUm9zaGFuIExpdR4VQ2xpZW50RW5hYmxlZEludGVybmFsaB8EZ2QUKwACFgYeC05hdmlnYXRlVXJsBQxzcmVkaW5hLmFzcHgfAQUESG9tZR8EZ2QUKwACFgYfBgULbG9nb3V0LmFzcHgfAQUHTG9nIG9mZh8EZ2RkPCsACwIAFggfAQULQ2FsbCBDZW50ZXIfAgUBMh8DZx8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUUY2FsbGNlbnRlcl92bm9zLmFzcHgfAQULRW50ZXIgY2xhaW0fBGdkFCsAAhYGHwYFGGNhbGxjZW50ZXJfcHJlZ2xlZDEuYXNweB8BBRBSZXZpZXcgb2YgY2xhaW1zHwRnZBQrAAIWBh8GBSxzZV9wb3RyZGlfcmVrbGFtYWNpamUuYXNweD9kZWxpdmVyeWluc3RhbGw9MR8BBR5SZXF1ZXN0IGZvciBkZWxpdmVyeSAvIGluc3RhbGwfBGdkZDwrAAsCABYIHwEFDlNlcnZpY2Ugb3JkZXJzHwIFATMfA2cfBGcBD2QQFgVmAgECAgIDAgQWBRQrAAIWBh8GBRNwb3RuaV9wcmVnbGVkMS5hc3B4HwEFHFJldmlldyBjbGllbnRzIGluIHRoZSBiYXNrZXQfBGdkFCsAAhYGHwYFGXNlX3ByZ196YWtsanVjZXZhbmplLmFzcHgfAQUgQ29tcGxldGluZyBvZiBhZ3JlZWQgd29yayBvcmRlcnMfBGdkFCsAAhYGHwYFIHNlX2RuZXZub196YWtsanVjZW5pX25hbG9naS5hc3B4HwEFLURhaWx5IHJldHVybiBkZWxpdmVyeSAvIENsb3NlZCB3b3JraW5nIG9yZGVycx8EZ2QUKwACFgYfBgUcc2VfbmVyYXpwb3JlamVuaV9uYWxvZ2kuYXNweB8BBRlXb3JrIG9yZGVycyBvdXQgb2YgYmFza2V0HwRnZBQrAAIWBh8GBRNwb3RuaV9rcmVpcmFqMS5hc3B4HwEFG01hbnVhbCBhbGxvY2F0aW9uIG9mIG9yZGVycx8EZ2RkPCsACwIAFggfAQUFU2FsZXMfAgUBOR8DZx8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUVc2VfcHJvZGFqYV9yZF9hdS5hc3B4HwEFEFNwYXJlIHBhcnRzIHNhbGUfBGdkFCsAAhYGHwYFFnNlX3Byb2RhamFfcmRfcHJnLmFzcHgfAQUNU2FsZXMgcHJldmlldx8EZ2QUKwACFgYfBgUac2VfYmxhZ2FqbmFfemFrbGp1Y2VrLmFzcHgfAQUWQ29tcGxldGlvbiBvZiB0aGUgc2FsZR8EZ2RkPCsACwIAFggfAQUJQ2FzaCBkZXNrHwIFAjEzHwNoHwRnAQ9kEBYGZgIBAgICAwIEAgUWBhQrAAIWBh8GBRdzZV9ibGFnYWpuYV9zdGFuamUuYXNweB8BBQ1TdGF0ZSBvZiBjYXNoHwRnZBQrAAIWBh8GBRdzZV9ibGFnYWpuYV9rbmppZ2EuYXNweB8BBQlDYXNoIGJvb2sfBGdkFCsAAhYGHwYFGXNlX2JsYWdham5hX3ByZWplbWtpLmFzcHgfAQULQ2FzaCBpbmNvbWUfBGdkFCsAAhYGHwYFGHNlX2JsYWdham5hX2l6ZGF0a2kuYXNweB8BBRFDYXNoIGRpc2J1cnNlbWVudB8EZ2QUKwACFgYfBgUbc2VfYmxhZ2FqbmFfaXpkcHJlX3ByZy5hc3B4HwEFGlJldmlldyBvZiBFeHBlbmNlcy9JbmNvbWVzHwRnZBQrAAIWBh8GBRJzZV9yZXBvcnRfb3NzLmFzcHgfAQUQRGlzcGxheSBvZiBPU1Mncx8EZ2RkPCsACwIAFggfAQULU3VwZXJ2aXNpb24fAgUCMTQfA2gfBGcBD2QQFgZmAgECAgIDAgQCBRYGFCsAAhYGHwYFFnNlX25hZHpvcl9wcm9kYWphLmFzcHgfAQUNU2FsZXMgcHJldmlldx8EZ2QUKwACFgYfBgUVc2VfbmFkem9yX2l6ZHByZS5hc3B4HwEFGlJldmlldyBvZiBFeHBlbmNlcy9JbmNvbWVzHwRnZBQrAAIWBh8GBRVzZV9uYWR6b3Jfa25qaWdhLmFzcHgfAQUJQ2FzaCBib29rHwRnZBQrAAIWBh8GBRVzZV9uYWR6b3Jfc3RhbmplLmFzcHgfAQUNU3RhdGUgb2YgY2FzaB8EZ2QUKwACFgYfBgUXc2VfbmFkem9yX2JsYWdham5hLmFzcHgfAQUGUmVwb3J0HwRnZBQrAAIWBh8GBRZzZV9yZXBvcnRfb3NzLmFzcHg/bj0xHwEFEERpc3BsYXkgb2YgT1NTJ3MfBGdkZDwrAAsCABYIHwEFBVN0b2NrHwIFAjIyHwNoHwRnAQ9kEBYJZgIBAgICAwIEAgUCBgIHAggWCRQrAAIWBh8GBRR6YWxvZ2Ffc2VydmlzZXIuYXNweB8BBRJUZWNobmljaWFuJ3Mgc3RvY2sfBGdkFCsAAhYGHwYFF3ByZWdsZWRfemFvc3Rhbmtvdi5hc3B4HwEFHFJldmlldyBtYXRlcmlhbCByZXNlcnZhdGlvbnMfBGdkFCsAAhYGHwYFFXByZWdsZWR6YWxvZ2Fub3YuYXNweB8BBRZQcmV2aWV3IG9mIHN0b2NrIC0gTkVXHwRnZBQrAAIWBh8GBRhzZV9pemRhamFfbWF0ZXJpYWxhLmFzcHgfAQUYUmV2aWV3IG9mIG1hdGVyaWFsIGlzc3VlHwRnZBQrAAIWBh8GBRlzZV9wcmV2emVtX21hdGVyaWFsYS5hc3B4HwEFHlJldmlldyBvZiBtYXRlcmlhbCB0YWtpbmcgb3Zlch8EZ2QUKwACFgYfBgUZc2VfZ2liYW5qZV9tYXRlcmlhbGEuYXNweB8BBRRNYXRlcmlhbCBmbG93IHJldmlldx8EZ2QUKwACFgYfBgUTcG9wcmF2YV96YWxvZ2UuYXNweB8BBRNDb3JyZWN0aW9uIG9mIFN0b2NrHwRnZBQrAAIWBh8GBRZzZV96YWxvZ2Vfc2FnX3NhcC5hc3B4HwEFG1N0b2NrIGNvbXBhcmlzb24gIFNBRyAtIFNBUB8EZ2QUKwACFgYfBgULemFsb2dhLmFzcHgfAQUFU3RvY2sfBGdkZDwrAAsCABYIHwEFElJldHVybmluZyBtYXRlcmlhbB8CBQIyMx8DaB8EZwEPZBAWAmYCARYCFCsAAhYGHwYFEXZyYWNpbG9fdm5vcy5hc3B4HwEFD1JldHVybiBtYXRlcmlhbB8EZ2QUKwACFgYfBgUednJhY2lsb19wcmVnbGVkX3BvdHJkaXRldi5hc3B4HwEFEVJldHVybmluZ3MgcmV2aWV3HwRnZGQ8KwALAgAWCB8BBQlJbnZlbnRvcnkfAgUCMjQfA2gfBGcBD2QQFgJmAgEWAhQrAAIWBh8GBRNpbnZlbnR1cmFfdm5vcy5hc3B4HwEFCUludmVudG9yeR8EZ2QUKwACFgYfBgUTcHJpbWVyamF2YV9pbnYuYXNweB8BBRhJbnZlbnRvcnkgUmV2aWV3L0NvbXBhcmUfBGdkZDwrAAsCABYIHwEFBk9yZGVycx8CBQIyNR8DaB8EZwEPZBAWAmYCARYCFCsAAhYGHwYFFHByZWdsZWRfbmFyb2NpbC5hc3B4HwEFHlJldmlldyBvcmRlcnMsIG1hbnVhbCBvcmRlcmluZx8EZ2QUKwACFgYfBgUPc2VfcHJldnplbS5hc3B4HwEFIUNvbmZpcm1hdGlvbiBvZiByZWNpZXZlZCBtYXRlcmlhbB8EZ2RkPCsACwIAFggfAQUEU2V0cx8CBQIyNh8DaB8EZwEPZBAWBmYCAQICAgMCBAIFFgYUKwACFgYfBgUbcHJlZ2xlZF9zZXRfcGxhbmlyYW5qZS5hc3B4HwEFGlJldmlldyBvZiBzcGFyZSBwYXJ0cyBzZXRzHwRnZBQrAAIWBh8GBRdzZV9zZXRpX3NlcnZpc2VyamkuYXNweB8BBRxUcmlnZ2VyIHBvaW50cyAtIFRlY2huaWNpYW5zHwRnZBQrAAIWBh8GBRRzZV9zZXRpX3RlaG5pa2EuYXNweB8BBSJUcmlnZ2VyIHBvaW50cyAtIFNlcnZpY2UgdGVjaG5pcXVlHwRnZBQrAAIWBh8GBRVzZV9zZXRpX3NldHRpbmdzLmFzcHgfAQUhVXBkYXRpbmcgb3JkZXJzIHNjaGVkdWxlIHNldHRpbmdzHwRnZBQrAAIWBh8GBRtzZV9zZXRpX29idmVzY2FuamVfbW5nLmFzcHgfAQUiSm9iIG9yZGVyIGltcGxlbWVudGF0aW9uIGluZm9ybWluZx8EZ2QUKwACFgYfBgUYc2Vfc2VydmlzZXJfY2FyX2Jpbi5hc3B4HwEFGlZlaGljbGVzIHN0b3JhZ2UgbG9jYXRpb25zHwRnZGQ8KwALAgAWCB8BBRdTdG9jayBUcmFuc2ZlciBSZWNlaXB0cx8CBQIyNx8DaB8EZwEPZBAWAmYCARYCFCsAAhYGHwYFEW1lZF9za2xfdm5vcy5hc3B4HwEFHUNyZWF0ZSBTdG9jayBUcmFuc2ZlciBSZWNlaXB0HwRnZBQrAAIWBh8GBRRtZWRfc2tsX3ByZWdsZWQuYXNweB8BBR5TdG9jayBUcmFuc2ZlciByZWNlaXB0cyByZXZpZXcfBGdkZDwrAAsCABYIHwEFFlNwYXJlIHBhcnRzIHByaWNlIGxpc3QfAgUCMjgfA2gfBGcBD2QQFgNmAgECAhYDFCsAAhYGHwYFDXNlX2NlbmlrLmFzcHgfAQUWU3BhcmUgcGFydHMgcHJpY2UgbGlzdB8EZ2QUKwACFgYfBgUac2VfcHJlZ2xlZF9hbHRlcm5hdGl2LmFzcHgfAQUYT3ZlcnZpZXcgb2YgYWx0ZXJuYXRpdmVzHwRnZBQrAAIWBh8GBR5zZV9wcmVnbGVkX2FsdGVybmF0aXZfbm92LmFzcHgfAQUgT3ZlcnZpZXcgb2YgYWx0ZXJuYXRpdmVzIC0gU3RvY2sfBGdkZDwrAAsCABYIHwEFDkFkbWluaXN0cmF0aW9uHwIFAjMyHwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFFGNoYW5nZV9wYXNzd29yZC5hc3B4HwEFD0NoYW5nZSBwYXNzd29yZB8EZ2RkPCsACwIAFggfAQUHUmVwb3J0cx8CBQIzMx8DaB8EZwEPZBAWA2YCAQICFgMUKwACFgYfBgUhc2VfcmVwb3J0X3pha2xqdWNlbmlfbmFsb2dpMS5hc3B4HwEFF1JldmlldyBvZiBjbG9zZWQgb3JkZXJzHwRnZBQrAAIWBh8GBRRzZV9vc3NfbmFyb2NpbGEuYXNweB8BBSNSZXZpZXcgc3RvY2tzIG9mIG1hdGVyaWFscyBmcm9tIE9TUx8EZ2QUKwACFgYfBgUgc2VfcmVwb3J0X2NsYWltc19mb3JfZGVhbGVyLmFzcHgfAQUYQ2xhaW1zIGV4cG9ydCBmb3IgZGVhbGVyHwRnZGQ8KwALAgAWCB8BBQRIZWxwHwIFAjM1HwNoHwRnAQ9kEBYBZhYBFCsAAhYGHwYFCnBvbW9jLmFzcHgfAQUESGVscB8EZ2RkPCsACwIAFggfAQUDR0FTHwIFAjM4HwNnHwRnAQ9kEBYBZhYBFCsAAhYGHwYFD2dhc19yZXBvcnQuYXNweB8BBQNHQVMfBGdkZDwrAAsCABYIHwEFFVNlcnZpY2UgZG9jdW1lbnRhdGlvbh8CBQIzOR8DZx8EZwEPZBAWAWYWARQrAAIWCB8GBSFodHRwczovL3BhcnRuZXJzLmdvcmVuamUuY29tL2dzZC8fAQUVU2VydmljZSBkb2N1bWVudGF0aW9uHgZUYXJnZXQFBl9ibGFuax8EZ2RkZGQCBw8PFgIfAQUITGFuZ3VhZ2VkZAIJDxQrAAYPFgQeD0RhdGFTb3VyY2VCb3VuZGceBVZhbHVlBQJFTmRkZDwrAA8BDhQrAAYWAh4nRW5hYmxlU3luY2hyb25pemF0aW9uT25QZXJmb3JtQ2FsbGJhY2sgaGRkDxYCHgpJc1NhdmVkQWxsZw8UKwASFCsAARYIHwEFCUJvbGdhcmlhbh8JBQJCRx4ISW1hZ2VVcmxlHwRnFCsAARYIHwEFCENoaW5lZXNlHwkFAlpIHwxlHwRnFCsAARYIHwEFBUN6ZWNoHwkFAkNTHwxlHwRnFCsAARYIHwEFBUR1dGNoHwkFAk5MHwxlHwRnFCsAARYIHwEFB0VuZ2xpc2gfCQUCRU4fDGUfBGcUKwABFggfAQUGRnJlbmNoHwkFAkZSHwxlHwRnFCsAARYIHwEFBkdlcm1hbh8JBQJERR8MZR8EZxQrAAEWCB8BBQhIcnZhdHNraR8JBQJIUh8MZR8EZxQrAAEWCB8BBQlIdW5nYXJpYW4fCQUCSFUfDGUfBGcUKwABFggfAQUHSXRhbGlhbh8JBQJJVB8MZR8EZxQrAAEWCB8BBQpNYWtlZG9uc2tpHwkFAloxHwxlHwRnFCsAARYIHwEFBlBvbGlzaB8JBQJQTB8MZR8EZxQrAAEWCB8BBQhSb21hbmlhbh8JBQJSTx8MZR8EZxQrAAEWCB8BBQdSdXNzaWFuHwkFAlJVHwxlHwRnFCsAARYIHwEFCFNsb3Zha2lhHwkFAlNLHwxlHwRnFCsAARYIHwEFCVNsb3Zlbmlhbh8JBQJTTB8MZR8EZxQrAAEWCB8BBQZTcnBza2kfCQUCU0gfDGUfBGcUKwABFggfAQUJVWtyYWluc2tpHwkFAlVLHwxlHwRnZGRkZGRkAgsPZBYCAgEPZBYCZg9kFggCAw8PFgIfAQUBMGRkAgcPZBZkAgEPDxYCHwEFEFNQQVJFIFBBUlRTIFNBTEVkZAIDDw8WAh8BBQlCaWxsIE5vLjpkZAIFDw8WAh8BBQowMDAwNzk4MzQ0ZGQCBw8PFgIfAQUIQ3VzdG9tZXJkZAIJDxQrAAYPFgIfCWRkZGQ8KwAPAQ4UKwAGFgIfCmhkZGQPZBAWBmYCAQICAgMCBAIFFgYUKwABFgIeD0NvbFZpc2libGVJbmRleGYUKwABFgQeB0NhcHRpb24FBVRpdGxlHw0CARQrAAEWBB8OBQZTdHJlZXQfDQICFCsAARYEHw4FCVBvc3QgY29kZR8NAgMUKwABFgQfDgUEQ2l0eR8NAgQUKwABFgQfDgUFUGhvbmUfDQIFZGRkZGQCDQ8UKwAGDxYCHwlkZGRkPCsADwEOPCsABgEAFgIfCmhkZGQCDw8PFgIfAQUQVHlwZSBvZiBjdXN0b21lcmRkAhMPDxYEHwEFATEeCFJlYWRPbmx5aGRkAhcPDxYCHwEFEE5hbWUgYW5kIFN1cm5hbWVkZAIZDw8WAh8PaGRkAh0PDxYCHwEFBlN0cmVldGRkAh8PDxYCHw9oZGQCIQ8PFgIfAQUJUG9zdCBjb2RlZGQCIw8PFgQfAWUfD2hkZAIlDw8WAh8BBQRDaXR5ZGQCJw8PFgIfD2hkZAIrDw8WAh8BZWRkAi0PDxYCHwEFElRlbGVwaG9uZSBudW1iZXIgMWRkAi8PDxYCHw9oZGQCMQ8PFgIfAQUJUmVmZXJlbmNlZGQCMw8PFgQfAWUfD2hkZAI3DxQrAAYPFgYfCGcfCQUEMDgwMB8FZ2RkZDwrAA8BDhQrAAYWAh8KaGRkDxYCHwtnDxQrADEUKwABFggfAQUEMDgwMB8JBQQwODAwHwxlHwRnFCsAARYIHwEFAkExHwkFAkExHwxlHwRnFCsAARYIHwEFA0ExNB8JBQNBMTQfDGUfBGcUKwABFggfAQUDQTE5HwkFA0ExOR8MZR8EZxQrAAEWCB8BBQNBMjEfCQUDQTIxHwxlHwRnFCsAARYIHwEFA0EyNh8JBQNBMjYfDGUfBGcUKwABFggfAQUDQTI4HwkFA0EyOB8MZR8EZxQrAAEWCB8BBQNBMjkfCQUDQTI5HwxlHwRnFCsAARYIHwEFAkEzHwkFAkEzHwxlHwRnFCsAARYIHwEFA0EzMR8JBQNBMzEfDGUfBGcUKwABFggfAQUDQTMyHwkFA0EzMh8MZR8EZxQrAAEWCB8BBQJBNB8JBQJBNB8MZR8EZxQrAAEWCB8BBQJBNR8JBQJBNR8MZR8EZxQrAAEWCB8BBQJBNh8JBQJBNh8MZR8EZxQrAAEWCB8BBQJBNx8JBQJBNx8MZR8EZxQrAAEWCB8BBQJBOR8JBQJBOR8MZR8EZxQrAAEWCB8BBQNEMTAfCQUDRDEwHwxlHwRnFCsAARYIHwEFA0QxMR8JBQNEMTEfDGUfBGcUKwABFggfAQUDRDE0HwkFA0QxNB8MZR8EZxQrAAEWCB8BBQNEMTUfCQUDRDE1HwxlHwRnFCsAARYIHwEFA0QxOR8JBQNEMTkfDGUfBGcUKwABFggfAQUCRDIfCQUCRDIfDGUfBGcUKwABFggfAQUDRDIyHwkFA0QyMh8MZR8EZxQrAAEWCB8BBQNEMjQfCQUDRDI0HwxlHwRnFCsAARYIHwEFA0QyNh8JBQNEMjYfDGUfBGcUKwABFggfAQUCRDgfCQUCRDgfDGUfBGcUKwABFggfAQUCRDkfCQUCRDkfDGUfBGcUKwABFggfAQUDRjEwHwkFA0YxMB8MZR8EZxQrAAEWCB8BBQNGMTEfCQUDRjExHwxlHwRnFCsAARYIHwEFA0YxMh8JBQNGMTIfDGUfBGcUKwABFggfAQUDRjE2HwkFA0YxNh8MZR8EZxQrAAEWCB8BBQNGMTcfCQUDRjE3HwxlHwRnFCsAARYIHwEFA0YxOB8JBQNGMTgfDGUfBGcUKwABFggfAQUCRjMfCQUCRjMfDGUfBGcUKwABFggfAQUCRjUfCQUCRjUfDGUfBGcUKwABFggfAQUCRjYfCQUCRjYfDGUfBGcUKwABFggfAQUCRjcfCQUCRjcfDGUfBGcUKwABFggfAQUCSTEfCQUCSTEfDGUfBGcUKwABFggfAQUCSTMfCQUCSTMfDGUfBGcUKwABFggfAQUCSTQfCQUCSTQfDGUfBGcUKwABFggfAQUCSTYfCQUCSTYfDGUfBGcUKwABFggfAQUCSTcfCQUCSTcfDGUfBGcUKwABFggfAQUCSTkfCQUCSTkfDGUfBGcUKwABFggfAQUCSzEfCQUCSzEfDGUfBGcUKwABFggfAQUCSzMfCQUCSzMfDGUfBGcUKwABFggfAQUCSzkfCQUCSzkfDGUfBGcUKwABFggfAQUCVzEfCQUCVzEfDGUfBGcUKwABFggfAQUEV05TVx8JBQRXTlNXHwxlHwRnFCsAARYIHwEFA1dXQR8JBQNXV0EfDGUfBGdkZGRkZGQCOQ8PFgIfAQUWU2VsbCDigIvigItvbiBkZWxpdmVyeWRkAjsPEA8WAh4HQ2hlY2tlZGdkZGRkAj8PEA8WAh8QaGRkZGQCQQ8PFgIfAQURTWV0aG9kIG9mIHBheW1lbnRkZAJDDxAPFgIeC18hRGF0YUJvdW5kZ2QQFQsAC01QMDEgLSBDQVNIDU1QMDIgLSBDSEVRVUURTVAwOCAtIE1BU1RFUkNBUkQLTVAwOSAtIFZJU0EXTVAxMCAtIEFNRVJJQ0FOIEVYUFJFU1MTTVAxNyAtIERJUkVDVCBERUJJVBJNUDU1IC0gQ1JFRElUIENBUkQUTVBYWCAtIE1JWEVEIFBBWU1FTlQVTVBYWSAtIEZSRUUgT0YgQ0hBUkdFFU1QWVkgLSBQQVkgQlkgSU5WT0lDRRULBE1QMTUETVAwMQRNUDAyBE1QMDgETVAwOQRNUDEwBE1QMTcETVA1NQRNUFhYBE1QWFkETVBZWRQrAwtnZ2dnZ2dnZ2dnZxYBZmQCRQ8PFgIfAQULQ2hlcXVlIE5vLjpkZAJGDw8WAh8BBQ9UcmFuc2FjdGlvbiBJRDpkZAJHDw8WBB8PaB4HVmlzaWJsZWdkZAJIDw8WBB8BZR8PaGRkAkoPDxYEHwFlHw9oZGQCSw8PZA8QFgJmAgEWAhYCHg5QYXJhbWV0ZXJWYWx1ZQUDMDM2FgIfEwUFNTIxMjAWAgIFAgVkZAJMDw9kDxAWAmYCARYCFgIfEwUDMDM2FgIfEwUFNTIxMjAWAgIFAgVkZAJQDw8WAh8BBQREYXRlZGQCUg8PFgIfAQUJMjcuMS4yMDIzZGQCVA8PFgIfAQUEVGltZWRkAlYPDxYCHwEFCDE2OjM2OjM4ZGQCWA8PFgIfAQUHU0FQIE5vLmRkAloPDxYCHwFlZGQCXg88KwARAwAPFgQfEWceC18hSXRlbUNvdW50AgFkARAWDWYCAQICAgMCBAIFAgYCBwIIAgkCCgILAgwWDTwrAAUBABYCHgpIZWFkZXJUZXh0BQhQb3NpdGlvbjwrAAUBABYCHxUFBVRpdGxlPCsABQEAFgIfFQUEQ29kZTwrAAUBABYCHxUFBFVuaXQ8KwAFAQAWAh8VBQxQcmljZSBleCBHU1Q8KwAFAQAWAh8VBQhEaXNjb3VudDwrAAUBABYCHxUFE1ByaWNlIHdpdGggZGlzY291bnQ8KwAFAQAWAh8VBQhRdWFudGl0eTwrAAUBABYCHxUFDlN1bSB3aXRob3QgR1NUPCsABQEAFgIfFQUFJSBHU1Q8KwAFAQAWAh8VBQNHU1Q8KwAFAQAWAh8VBQxTdW0gd2l0aCBHU1Q8KwAFAQAWAh8SZxYNZmZmZmYCBmZmZmZmZgIBDBQrAAAWAmYPZBYGZg9kFhpmDw8WAh8BBQhQb3NpdGlvbmRkAgEPDxYCHwEFBVRpdGxlZGQCAg8PFgIfAQUEQ29kZWRkAgMPDxYCHwEFBFVuaXRkZAIEDw8WAh8BBQxQcmljZSBleCBHU1RkZAIFDw8WAh8BBQhEaXNjb3VudGRkAgYPDxYCHwEFE1ByaWNlIHdpdGggZGlzY291bnRkZAIHDw8WAh8BBQhRdWFudGl0eWRkAggPDxYCHwEFDlN1bSB3aXRob3QgR1NUZGQCCQ8PFgIfAQUFJSBHU1RkZAIKDw8WAh8BBQNHU1RkZAILDw8WAh8BBQxTdW0gd2l0aCBHU1RkZAIMDw8WAh8BZWRkAgEPZBYYZg8PFgIfAQUGJm5ic3A7ZGQCAQ8PFgIfAQUGJm5ic3A7ZGQCAg8PFgIfAQUGJm5ic3A7ZGQCAw8PFgIfAQUGJm5ic3A7ZGQCBA8PFgIfAQUGJm5ic3A7ZGQCBQ9kFgICAQ88KwAGAQAPFgQfCSgpW1N5c3RlbS5EZWNpbWFsLCBtc2NvcmxpYiwgVmVyc2lvbj00LjAuMC4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPWI3N2E1YzU2MTkzNGUwODkBMB8IZ2RkAgYPDxYCHwEFBiZuYnNwO2RkAgcPDxYCHwEFBiZuYnNwO2RkAggPDxYCHwEFBiZuYnNwO2RkAgkPDxYCHwEFBiZuYnNwO2RkAgoPDxYCHwEFBiZuYnNwO2RkAgsPDxYCHwEFBiZuYnNwO2RkAgIPDxYEHg9Ib3Jpem9udGFsQWxpZ24LKilTeXN0ZW0uV2ViLlVJLldlYkNvbnRyb2xzLkhvcml6b250YWxBbGlnbgMeBF8hU0ICgIAEZBYcZg8PFgYfAWUeCENzc0NsYXNzBQhUZXh0Qm94MR8XAgJkZAIBDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAICDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAIDDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAIEDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAIFDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAIGDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAIHDw8WBh8BBQg8Yj4wPC9iPh8YBQhUZXh0Qm94Mx8XAgJkZAIIDw8WBh8BBQs8Yj4wLjAwPC9iPh8YBQhUZXh0Qm94Mx8XAgJkZAIJDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAIKDw8WBh8BBQs8Yj4wLjAwPC9iPh8YBQhUZXh0Qm94Mx8XAgJkZAILDw8WBh8BBQs8Yj4wLjAwPC9iPh8YBQhUZXh0Qm94Mx8XAgJkZAIMDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAINDw8WBB8YBQhUZXh0Qm94MR8XAgJkZAJgDw8WAh8BBQVUb3RhbGRkAmIPDxYCHwEFBDAuMDBkZAJkD2QWIgIBDw8WAh8BBQs8Yj5Db2RlPC9iPmRkAgMPDxYCHwEFDzxiPlF1YW50aXR5PC9iPmRkAggPFCsABg8WBB8IZx8JBQY4MTgxNzBkZGQ8KwAPAQ4UKwAGFgIfCmhkZGQPZBAWBmYCAQICAgMCBAIFFgYUKwABFgIfDWYUKwABFgQfDgUFVGl0bGUfDQIBFCsAARYCHw0CAhQrAAEWAh8NAgMUKwABFgQfDgUEVHlwZR8NAgQUKwABFgIeCkNvbFZpc2libGVoZGRkZGQCCg8PFgIfAQUBMWRkAgwPDxYCHwEFD0FkZCB0byBhIGJhc2tldGRkAhIPDxYCHwEFCFRpdGxlOiAgZGQCFA8PFgIfAQUhVVNFUiBJTlRFUkZBQ0UgRFc0MC4yIFRPUCBESVNQTEFZZGQCFg8PFgIfAQUIU3RvY2s6ICBkZAIYDw8WAh8BBQQxMDkwZGQCGg8PFgIfAQUPUHJpY2UgZXggR1NUOiAgZGQCHA8PFgIfAQUDMjIxZGQCHg8PFgIfAQUNKHdpdGhvdXQgR1NUKWRkAiAPDxYCHwEFCENvbW1lbnQ6ZGQCIg8PFgQfAWUfD2gWAh4KbWF4X2xlbmd0aAUDMjU1ZAIkDw8WAh8BBQMyMjFkZAIlDw8WAh8BBQMyMjFkZAInDw8WAh8BZWRkAmYPZBYWAgEPDxYCHwEFBUNhc2g6ZGQCAw8PFgQfAQUEMC4wMB8PaGRkAgUPDxYCHwEFBUNhcmQ6ZGQCBw8PFgQfAQUEMC4wMB8PaGRkAgkPDxYCHwEFD1RyYW5zYWN0aW9uIElEOmRkAgsPDxYEHwFlHw9oZGQCDQ8QZGQWAGQCDw8PFgIfAQUHQ2hlcXVlOmRkAhEPDxYEHwEFBDAuMDAfD2hkZAITDw8WAh8BBQtDaGVxdWUgTm8uOmRkAhUPDxYEHwFlHw9oZGQCaA8PFgQfAQUPRGVsZXRlIHRoZSBiaWxsHxJnFgIeB29uY2xpY2sFT2lmKGNvbmZpcm0oIkRvIHlvdSB3YW50IHRvIGRlbGV0ZSBhIEJpbGw/IikpIHtyZXR1cm4gdHJ1ZTt9IGVsc2V7cmV0dXJuIGZhbHNlO31kAmoPDxYCHwEFDVNhdmUgdGhlIGJpbGxkZAJsDw8WBB8BBQ1CaWxsIHByaW50aW5nHxJoZGQCbg8PFgQfAQULU2VuZCB0byBTQVAfEmgWAh8bBV9pZihjb25maXJtKCJEbyB5b3Ugd2FudCB0byBzZW5kIGEgYmlsbCB0byBTQVA/IikpIHtyZXR1cm4gZGlzYWJsZVN1Ym1pdCgpO30gZWxzZXtyZXR1cm4gZmFsc2U7fWQCcA8PFgQfAQULQ2FuY2VsYXRpb24fEmgWAh8bBVppZihjb25maXJtKCJEbyB5b3Ugd2FudCB0byBjYW5jZWwgYSBCaWxsPyIpKSB7cmV0dXJuIGRpc2FibGVTdWJtaXQoKTt9IGVsc2V7cmV0dXJuIGZhbHNlO31kAgkPFgIfEmgWCAIBDw8WAh8BBQ9DYW5jZWwgcHJpbnRpbmdkZAIDDw8WAh8BBRZCaWxsIChhY2NvdW50KSBiYWxhbmNlFgIfGwWjAWlmKGNvbmZpcm0oIkRvIHlvdSB3YW50IHRvIGZpbmFsbHkgY29tcGxldGUgdGhlIGJpbGw/XG5TdWJzZXF1ZW50IGNvcnJlY3Rpb24gb2YgdGhlIGFjY291bnQgY2FuIG5vIGxvbmdlciBiZSBkb25lISIpKSB7cmV0dXJuIGRpc2FibGVTdWJtaXQoKTt9IGVsc2V7cmV0dXJuIGZhbHNlO31kAgUPDxYCHwEFEU1ldGhvZCBvZiBwYXltZW50ZGQCCQ88KwAJAQQUKwACZGRkAg0PPCsACQIADxYCHwBnZAY8KwATAQAWDB4GUGlubmVkaB4OU2hvd09uUGFnZUxvYWRoHgNUb3BmHgRMZWZ0Zh4JQ29sbGFwc2VkaB4JTWF4aW1pemVkaBYCZg9kFgJmD2QWAmYPZBYCZg9kFgICAQ9kFgJmD2QWAmYPZBYCAgEPZBYCAgEPPCsAJgIGD2QQFgVmAgECAgIDAgQWBTwrAAwCABYEHw4FBERhdGUeC0dsb2JhbEluZGV4Zgs8KwAFAQAWBh4JU29ydEluZGV4Av////8PHgpHcm91cEluZGV4Av////8PHglTb3J0T3JkZXILKXpEZXZFeHByZXNzLkRhdGEuQ29sdW1uU29ydE9yZGVyLCBEZXZFeHByZXNzLkRhdGEudjIxLjIsIFZlcnNpb249MjEuMi4zLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49Yjg4ZDE3NTRkNzAwZTQ5YQA8KwAMAgAWBB8OBQ5Jc3N1ZS90YWtlb3Zlch8iAgELPCsABAEAFgYfIwL/////Dx8kAv////8PHyULKwYAPCsADAIAFgQfDgUNTWF0ZXJpYWwgZmxvdx8iAgILPCsABAEAFgYfIwL/////Dx8kAv////8PHyULKwYAPCsADAIAFgQfDgUFU3RvY2sfIgIDCzwrAAQBABYGHyMC/////w8fJAL/////Dx8lCysGADwrAAwCABYEHw4FCVdhcmVob3VzZR8iAgQLPCsABAEAFgYfIwL/////Dx8kAv////8PHyULKwYADxYFAgECAgICAgICAhYCBX9EZXZFeHByZXNzLldlYi5HcmlkVmlld0RhdGFEYXRlQ29sdW1uLCBEZXZFeHByZXNzLldlYi52MjEuMiwgVmVyc2lvbj0yMS4yLjMuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iODhkMTc1NGQ3MDBlNDlhBXtEZXZFeHByZXNzLldlYi5HcmlkVmlld0RhdGFDb2x1bW4sIERldkV4cHJlc3MuV2ViLnYyMS4yLCBWZXJzaW9uPTIxLjIuMy4wLCBDdWx0dXJlPW5ldXRyYWwsIFB1YmxpY0tleVRva2VuPWI4OGQxNzU0ZDcwMGU0OWEYPCsABwEFFCsAAmRkZBgCBR5fX0NvbnRyb2xzUmVxdWlyZVBvc3RCYWNrS2V5X18WEAUNY3RsMDAkc2FnTWVudQUUY3RsMDAkY2JKZXppa0FwbCREREQFLWN0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkZGRQYXJ0bmVyTWFzdGVyJERERAUtY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRkZFN0cmFua2VJc2NpUkUkREREBR9jdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGliWmJyBSljdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGNiU2tsYWRpc2NhJERERAUkY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRjYlBvdnpldGplBR9jdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGNiQlQyBSJjdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJGliR29vZ2xlBS9jdGwwMCRDb250ZW50UGxhY2VIb2xkZXIxJEdyaWRWaWV3MSRjdGwwMiRjdGwwMAUvY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRHcmlkVmlldzEkY3RsMDIkY3RsMDEFKmN0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkZGRfaXpkX3NpZnJhJERERAUoY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRpbWJCdG5EZWxpdmVyeQUgY3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRwcE1EMDQFJ2N0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkcHBNRDA0JGd2TUQwNAU7Y3RsMDAkQ29udGVudFBsYWNlSG9sZGVyMSRwcE1EMDQkZ3ZNRDA0JGN0bDAwJERYRWRpdG9yMCREREQFI2N0bDAwJENvbnRlbnRQbGFjZUhvbGRlcjEkR3JpZFZpZXcxDzwrAAwBCAIBZPb1IoWpNHl9RVmTlDoHP+bZl/wFDeiDLQuyaxU2p/EW");
        request.AddParameter("__VIEWSTATEGENERATOR", "C75E4AF9");
        request.AddParameter("ctl00$ContentPlaceHolder1$GridView1$ctl02$sp_pop", "0");
        request.AddParameter("ctl00$ContentPlaceHolder1$GridView1$ctl02$sp_pop$State", "{&quot;rawValue&quot;:&quot;0&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$btnShrani", "Add to a basket");
        request.AddParameter("ctl00$ContentPlaceHolder1$cbPovzetje", "on");
        request.AddParameter("ctl00$ContentPlaceHolder1$cbSkladisca", "0800");
        request.AddParameter("ctl00$ContentPlaceHolder1$cbSkladisca$DDD$L", "0800");
        request.AddParameter("ctl00$ContentPlaceHolder1$cbSkladisca$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddPartnerMaster", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddPartnerMaster$DDD$L", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddPartnerMaster$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddPartnerMaster$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddStrankeIsciRE", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddStrankeIsciRE$DDD$L", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddStrankeIsciRE$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ddStrankeIsciRE$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$dd_izd_sifra", Number);
        request.AddParameter("ctl00$ContentPlaceHolder1$dd_izd_sifra$DDD$L", Number);
        request.AddParameter("ctl00$ContentPlaceHolder1$dd_izd_sifra$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$dd_izd_sifra$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        if (Type == "FOC")
        {
            request.AddParameter("ctl00$ContentPlaceHolder1$ddl_kart", "MPXY");
        }
        else
        {
            request.AddParameter("ctl00$ContentPlaceHolder1$ddl_kart", "MP55");
        }

        //request.AddParameter("ctl00$ContentPlaceHolder1$izpCena", "221");
        request.AddParameter("ctl00$ContentPlaceHolder1$kolRD", Quantity.ToString());
        request.AddParameter("ctl00$ContentPlaceHolder1$kolRDRez", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$ppMD04$gvMD04", "{&quot;keys&quot;:[],&quot;groupLevelState&quot;:{},&quot;callbackState&quot;:&quot;BwQHAwIERGF0YQcnAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABwAHAAcAAgtGb3JtYXRTdGF0ZQcAAgVTdGF0ZQffBwUHAAIBBwECAAcCAgEHAwIBBwQCAQcABwAHAAcABwUHAAb//wcBBv//BwIG//8HAwb//wcEBv//AgAFAAAAgAkCAAcACQIAAgADB34AXFN5c3RlbS5TdHJpbmdbXSwgbXNjb3JsaWIsIFZlcnNpb249NC4wLjAuMCwgQ3VsdHVyZT1uZXV0cmFsLCBQdWJsaWNLZXlUb2tlbj1iNzdhNWM1NjE5MzRlMDg5AgABAAAA/////wEAAAAAAAAAEQEAAAAAAAAACwIABwACAQcABwACAAIBBwAHAAcABwAHAAIaUHJldlJlcXVlc3RWaXNpYmxlUm93Q291bnQDBwA=&quot;,&quot;scrollState&quot;:null,&quot;selection&quot;:&quot;&quot;,&quot;toolbar&quot;:null}");
        request.AddParameter("ctl00$ContentPlaceHolder1$ppMD04State", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$ContentPlaceHolder1$tbIDtransakcije", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$tbKomentar", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$tbReferenca", "");
        request.AddParameter("ctl00$ContentPlaceHolder1$tbState", State);
        request.AddParameter("ctl00$ContentPlaceHolder1$tbVrstaKup", Quantity.ToString());
        request.AddParameter("ctl00$ContentPlaceHolder1$tbkKraj", Suburb);
        request.AddParameter("ctl00$ContentPlaceHolder1$tbkPostnaSt", PostCode);
        switch (Type)
        {
            case "CounterSale":
                request.AddParameter("ctl00$ContentPlaceHolder1$tbkPriimek", customerInfo.Name + "-CounterSale");
                break;
            case "Delivery":
                request.AddParameter("ctl00$ContentPlaceHolder1$tbkPriimek", customerInfo.Name);
                break;
            case "FOC":
                request.AddParameter("ctl00$ContentPlaceHolder1$tbkPriimek", customerInfo.Name + "-FOC");
                break;
        }
        
        request.AddParameter("ctl00$ContentPlaceHolder1$tbkTelefon", Phone);
        request.AddParameter("ctl00$ContentPlaceHolder1$tbkUlica", Street);
        request.AddParameter("ctl00$ScriptManager1", "ctl00$ContentPlaceHolder1$UpdatePanel3|ctl00$ContentPlaceHolder1$btnShrani");
        request.AddParameter("ctl00$cbJezikApl", "English");
        request.AddParameter("ctl00$cbJezikApl$DDD$L", "EN");
        request.AddParameter("ctl00$cbJezikApl$DDD$L$State", "{&quot;CustomCallback&quot;:&quot;&quot;}");
        request.AddParameter("ctl00$cbJezikApl$DDDState", "{&quot;windowsState&quot;:&quot;0:0:-1:0:0:0:-10000:-10000:1:0:0:0&quot;}");
        request.AddParameter("ctl00$sagMenu", "{&quot;selectedItemIndexPath&quot;:&quot;&quot;,&quot;groupsExpanding&quot;:&quot;1;1;1;1;0;0;0;0;0;0;0;0;0;0;0;0;1;1&quot;}");
        request.AddParameter("ctl00$tbOss", "");
        request.AddParameter("ctl00_ContentPlaceHolder1_cbSkladisca_VI", "0800");
        request.AddParameter("ctl00_ContentPlaceHolder1_ddPartnerMaster_VI", "");
        request.AddParameter("ctl00_ContentPlaceHolder1_ddStrankeIsciRE_VI", "");
        request.AddParameter("ctl00_ContentPlaceHolder1_dd_izd_sifra_VI", Number);
        request.AddParameter("ctl00_cbJezikApl_VI", "EN");
        var response = await client.ExecuteAsync(request);
        await Task.CompletedTask;
    }

    private async Task Apply()
    {

    }
    private void Pay()
    {
        
    }
}